h1, h2, h3, h4, h5{
	color: #ff4400;
	font-weight: bold;
}
.container{
	max-width: 940px;
	margin: 0 auto;
	min-height: 100%;
}
nav > ul > li{
	width: 223px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e2e7e3;
	margin: 1em 0;
	padding: 0;
}
ul{
	list-style-type: none;
	padding: 0;
}
a{
	color: #ff4400;
}
a:hover,
a:focus{
	color: #ff4400;	
}
.container .left-container{
	padding-right: 0;
}
.left-container .well.well-olympia{
	border-radius: 0;
	padding: 0
}
.left-container .well.well-olympia .dashboard-image{
	position: relative;
}
.left-container .well.well-olympia .dashboard-image img{
	width: 100%;
}
.left-container .well.well-olympia .overlay-container{
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid #ffffff;
	width: 100%;
}
.left-container .well.well-olympia .overlay-container label{
	color: #ffffff;
	display: block;
}
.left-container .well.well-olympia .overlay-container label span{
	float: right;
}
.left-container .well.well-olympia .overlay-container .progress{
	background: rgba(148, 147, 147, 0.6);
	border: 1px solid #ffffff;
}
.left-container .well.well-olympia .overlay-container .progress .progress-bar.progress-bar-success{
	background: rgba(92, 184, 92, 0.6);
	border-right: 1px solid;
	border-radius: 4px;
} 
.left-container .well.well-olympia .progress-container{
	padding: 40px 15px 10px;
}
.left-container .well.well-olympia .profile-data{
	padding: 5px 7px 0 7px;
}
.right-container .well.well-olympia .profile-data{
	margin: 10px 0 7px;
}
.left-container .well.well-olympia .profile-data label.title{
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 15px;
	color: #333333;
}
.left-container .well.well-olympia .profile-data label.title.addresses{
	padding-top: 5px;
}
.left-container .well.well-olympia .profile-data ul{
	list-style-type: none;
	padding: 2px 0;
}
.right-container .well.well-olympia .profile-data ul{
	list-style-type: none;
	margin-top: 5px;
}
.left-container .well.well-olympia .profile-data ul li .olympia-icon{
	float: right;
	font-size: 1.22em;
	color: #666666;
	cursor: pointer;
}
.right-container .well.well-olympia .profile-data ul li .olympia-icon{
	float: right;
	font-size: 1.22em;
	color: #666666;
	cursor: pointer;
}

.left-container .well.well-olympia .profile-data ul li:first-child{
	padding-top: 3px;
}
.left-container .well.well-olympia .profile-data .btn.btn-primary{
	padding: 4px 20px;
	position: relative;
	float: right;
}
.left-container .well.well-olympia .profile-data .sub-title{
	font-size: 12.9px;
	display: block;
}
.left-container .well.well-olympia .profile-data.cv{
	margin-top: 30px;
}
/***********/
/*side-menu*/
/***********/
.left-container .well.well-olympia .side-menu ul{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
} 
.left-container .well.well-olympia .side-menu ul li{
	width: 100%;
}
.left-container .well.well-olympia .side-menu ul li:first-child{
	margin: 10px 0;
}
.left-container .well.well-olympia .side-menu ul li:hover a,
.left-container .well.well-olympia .side-menu ul li:focus a{
	background: #f7f9f8;
}
.left-container .well.well-olympia .side-menu ul li:hover a,
.left-container .well.well-olympia .side-menu ul li:focus a{
	color: #ff4400;
}
.left-container .well.well-olympia .side-menu ul li a{
	padding: 13px 10px;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	display: block;
	background: #eeeeee;
	border: 1px solid #ddd;
	color: #555;
	font-weight: 700;
}
.left-container .well.well-olympia .side-menu ul li a:hover,
.left-container .well.well-olympia .side-menu ul li a:focus{
	text-decoration: none;
}
.left-container .well.well-olympia .side-menu ul li.active a{
	background: #ffffff;
}
.left-container .well.well-olympia .side-menu ul li.active a{
	color: #ff4400;
}
/*****************/
/*Right conatiner*/
/*****************/
.right-container .well.well-olympia{
	border-radius: 0;
	padding: 0 15px;
	background: #ffffff;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
	box-shadow: 0px 0px 5px 0px #f6f6f6\9;
	margin: 0;
}
.right-container .well.well-olympia .box-inner{
	padding: 15px 0;
}
.right-container .well.well-olympia .box-inner label.title{
	display: inline;
	font-size: 16px;
	color: #ff4400;
}
.right-container .well.well-olympia .box-inner label.title.black{
	color: #333333;
}
.right-container .well.well-olympia .box-inner hr {
	margin-top: 12px;
	margin-bottom: 12px;
}
.right-container .well.well-olympia .bewerk a{
	margin-right: 5px;
}
.right-container .well.well-olympia .bewerk i.olympia-icon{
	font-size: 1.22em;
	position: relative;
	top: 2px;
}
.right-container .well.well-olympia + .well.well-olympia{
	margin-top: 20px;
}
.right-container .well.well-olympia.orange-well{
	background: #ff4400;
}
.right-container .well.well-olympia.orange-well label,
.right-container .well.well-olympia.orange-well h1,
.right-container .well.well-olympia.orange-well a{
	color: #ffffff;
	display: block
}
.right-container .well.well-olympia.orange-well .row .input-box{
	padding-right: 0;
}
.right-container .well.well-olympia.orange-well .row .input-box input[type="text"]{
	border-radius: 2px;
	font-size: 10px;
}
.right-container .well.well-olympia.orange-well .row select{
	width: 80px;
	border-radius: 2px;
	display: inline-block;
	padding: 6px 3px;
	font-size: 12px;
	cursor: pointer;
}
.right-container .well.well-olympia.orange-well .row .btn{
	width: 52%;
	margin-left: 10px;
	height: 35px;
	position: relative;
	top: -1px;
}
.right-container .well.well-olympia.orange-well .row .btn i{
	padding-right: 6px;
}
.right-container .well.well-olympia.orange-well a{
	padding-top: 5px;
}
.right-container .well.well-olympia .half-box{
	padding: 15px;
}
.right-container .well.well-olympia .half-box:not(.last-box){
	border-right: 1px solid #ccc;
}
.right-container .well.well-olympia .half-box label.title{
	font-size: 16px;
	color: #333333;
	margin-right: 4px;
}
.right-container .half-well{
	margin-top: 20px;
}
.right-container .half-well .col-lg-6 {
	padding-right: 5px;
}
.right-container .half-well .col-lg-6:last-child {
	padding-right: 15px;
	padding-left: 5px;
}
.right-container .half-well .col-lg-6:first-child .well.well-olympia{
	min-height: 166px;
}
.right-container .half-well .well.well-olympia{
	padding: 10px
}
.right-container .half-well .well.well-olympia .title{
	font-size: 16px;
	color: #333333;
}
.right-container .half-well .well.well-olympia ul{
	padding: 10px 15px;
	list-style-type: square;
	color: #ff4400;
}
.right-container .half-well .well.well-olympia ul li span{
	color: #333333;
}
.right-container .half-well .well.well-olympia .video-box{
	padding: 10px;
	text-align: center;
	border: 2px dashed #aaa;
}
/************/
/*alert page*/
/************/
.alert-box.right-container .well.well-olympia label.title{
	font-size: 16px;
	color: #333333;	
}
.alert-box.right-container .well.well-olympia .label-container{
	padding-top: 15px;
}
.alert-box.right-container .well.well-olympia .details ul li strong,
.alert-box.right-container .well.well-olympia .details ul li span{
	display: block;
}
.alert-box.right-container .well.well-olympia .details ul li{
	padding-bottom: 10px;
}
.alert-box.right-container .well.well-olympia .details ul li:last-child{
	padding-bottom: 0;
}
.alert-box.right-container .well.well-olympia .box-inner{
	padding: 0;
	margin: 15px 0 0; 
}
.alert-box.right-container .well.well-olympia .accordion .job-title{
	margin-left: 10px;
	display: block;
	width: 80%;
	float: left;
	position: relative;
	line-height: 44px;
	cursor: pointer;
}
.alert-box.right-container .well.well-olympia .accordion .job-title span.olympia-caret-down,
.alert-box.right-container .well.well-olympia .accordion .job-title span.olympia-caret-up{
	top: 15px;
}
.alert-box.right-container .well.well-olympia .accordion .header{
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.dashboard.alert-box.right-container .well.well-olympia .accordion .header{
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	border-radius: 0;
    padding: 0 15px;
    background: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
    box-shadow: 0px 0px 5px 0px #f6f6f6\9;
    margin: 0;
}
.cv.right-container .well.well-olympia .accordion .header,
.suggestie.right-container .well.well-olympia .accordion .header{
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
	padding: 15px;
	cursor: pointer;
}
.sollicitaties.well-olympia .accordion ul.accordion-data > li .heading{
	background: rgba(244,244,244,0.7);
	padding: 10px;
	border: 1px solid #dddddd;
	cursor: pointer;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-description {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent;
	margin-top: 10px;
}
.sollicitaties.well.well-olympia .accordion ul.accordion-data > li,
.cv.right-container .well.well-olympia .accordion ul.accordion-data > li,
.suggestie.right-container .well.well-olympia .accordion ul.accordion-data > li{
	margin-top: 10px;
}
.suggestie.right-container .well.well-olympia .accordion .header strong span.olympia-icon{
	position: relative;
	vertical-align: middle;
	font-size: 16px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body,
.cv.right-container .well.well-olympia .accordion .job-body,
.suggestie.right-container .well.well-olympia .accordion .job-body{
	border: 1px solid #ccc;
	padding: 15px;
	border-top: none;
	background: rgb(252, 252, 252);
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body ul.accordion-li,
.suggestie.right-container .well.well-olympia .accordion .job-body ul.accordion-li{
	margin-top: 10px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body ul.accordion-li li,
.suggestie.right-container .well.well-olympia .accordion .job-body ul.accordion-li li{
	width: 49.5%;
	display: inline-block;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body ul.accordion-li li strong,
.suggestie.right-container .well.well-olympia .accordion .job-body ul.accordion-li li strong{
	width: 45%;
	display: inline-block;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body ul.accordion-li li strong a,
.suggestie.right-container .well.well-olympia .accordion .job-body ul.accordion-li li strong a{
	position: relative;
	top: 1px;
	font-size: 12px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .para,
.suggestie.right-container .well.well-olympia .accordion .job-body .para{
	margin-top: 20px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .para + .para,
.suggestie.right-container .well.well-olympia .accordion .job-body .para + .para{
	margin-top: 10px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .para.with-image img,
.suggestie.right-container .well.well-olympia .accordion .job-body .para.with-image img{
	width: 100%;
	float: right;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .listed,
.suggestie.right-container .well.well-olympia .accordion .job-body .listed{
	margin-top: 15px;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .listed ul,
.suggestie.right-container .well.well-olympia .accordion .job-body .listed ul{
	list-style-type: square;
	padding-left: 15px;
	color: #ff4400;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .listed ul span,
.suggestie.right-container .well.well-olympia .accordion .job-body .listed ul li span{
	color: #444444;
}
.right-container .sollicitaties.well.well-olympia .accordion .job-body .listed p,
.suggestie.right-container .well.well-olympia .accordion .job-body .listed p{
	margin-top: 10px;
}
.notification.well .accordion-data li.show .job-body,
.right-container .sollicitaties.well.well-olympia .accordion ul.accordion-data li.show .job-body,
.cv.right-container .well.well-olympia .accordion ul.accordion-data li.show .job-body,
.suggestie.right-container .well.well-olympia .accordion ul.accordion-data li.show .job-body{
	display: block;
}
.notification.well .accordion-data li .job-body,
.right-container .sollicitaties.well.well-olympia .accordion ul.accordion-data li .job-body,
.cv.right-container .well.well-olympia .accordion ul.accordion-data li .job-body,
.suggestie.right-container .well.well-olympia .accordion ul.accordion-data li .job-body{
	display: none;
}
.alert-box.right-container .well.well-olympia .accordion .header .form-group{
	margin-bottom: 0;
	display: inline-block;
	border-right: 1px solid #DFDCDC;
	padding: 10px 30px 7px;
	float: left;
	width: 17.8%;
}
.notification.well .accordion-data li .job-body,
.alert-box.right-container .well.well-olympia .accordion .job-body{
	background: rgb(252, 252, 252);
	border: 1px solid #ccc;
	padding: 15px;
	border-top: none;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data li.show .job-body{
	display: block;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data li .job-body{
	display: none;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li:first-child{
	margin-top: 0;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li{
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .header span{
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	font-size: 16px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .job-body .bewerk{
	margin-top: 10px;
	display: inline-block;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .job-body .bewerk + .bewerk{
	margin-left: 20px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .job-body .bewerk .olympia-edit,
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .job-body .bewerk .olympia-trash-o{
	margin-right: 4px;
}
.alert-box.right-container .well.well-olympia .accordion-button{
	text-align: right;
	margin-bottom: 20px;
}
.alert-box.right-container .well.well-olympia .accordion-button button{
	margin-top: 10px;
}
.cv.right-container .well.well-olympia .work .job-work{
	padding-top: 15px;
}
.cv.right-container .well.well-olympia .work .job-work ul li label{
	padding-top: 8px;
}
.cv.right-container .well.well-olympia .work .job-work ul .row{
	margin-top: 10px;
}
.cv.right-container .well.well-olympia .work .cv-well{
	border-style: dashed; 
	border-width: 2px; 
	background:#fff;
}
.cv.right-container .well.well-olympia .work ul li:first-child{
	border-top: 1px solid #eeeeee;
	margin-top: 10px;
	padding-top: 10px;
}
.right-container .well.well-olympia.sollicitaties i.olympia-map-marker{
	font-size: 3em;
	color: #CF2A27;
}
.right-container .well.well-olympia.sollicitaties .solid-line{
	background: url('../img/pipe-bg.png');
	background-repeat: repeat-y;
	background-position: center;
	position: relative;
	top: -14px;
	left: -1px;
}
.right-container .well.well-olympia.sollicitaties .solid-line .heading{
	margin-bottom: 10px;
	position: relative;
}
.right-container .well.well-olympia.sollicitaties .solid-line .heading strong:last-child{
	position: absolute;
	right: 0;
	top: -9px;
	width: 34%
}
.right-container .well.well-olympia.sollicitaties .accordion .solid-line .heading{
	margin-bottom: 0px;
	padding: 15px 10px;
}
.right-container .well.well-olympia.sollicitaties .accordion .solid-line .heading strong:last-child{
	top: 4px;
	width: 36%
}
.right-container .well.well-olympia.sollicitaties .accordion .solid-line .heading strong:last-child .olympia-icon{
	position: relative;
	top: 24px;
	right: 6px;
}
.right-container .well.well-olympia.sollicitaties .job-description{
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px -1px 1px 0px rgba(201,199,201,0.5);
	-moz-box-shadow: inset 0px -1px 1px 0px rgba(201,199,201,0.5);
	box-shadow: inset 0px -1px 1px 0px rgba(201,199,201,0.5);
	background: rgba(238, 238, 238, 0.6);
}
.right-container .well.well-olympia.sollicitaties .job-description > .row{
	margin-right: 0;
	margin-left: 0;
}
.right-container .well.well-olympia.sollicitaties .job-description .box{
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #999;
	margin: 0;
	width: 25%;
	text-align: right;
	font-size: 10px;
	color: #000000;
	float: left;
}
.right-container .well.well-olympia.sollicitaties .job-description .box1{
	width: 21%;
}
.right-container .well.well-olympia.sollicitaties .job-description .box.pre{
	background: #597EAA;
}
.right-container  .well.well-olympia.sollicitaties .job-description .box.center{
	background: #6FA8DC;
}
.right-container  .well.well-olympia.sollicitaties .job-description .box.post{
	background: #CCCCCC;
}
.right-container  .well.well-olympia.sollicitaties .job-description .box.pre-rejected{
	background: #EA9999;
}
h1.black{
	color: #333333;
}
#bewerkenVoorkeuren .modal-content .modal-body .text-label{
	padding-top: 7px
}
#bewerkenVoorkeuren .modal-content .modal-body p{
	font-size: 11px;
}
.padding-l-0{
	padding-left: 0;
}
.padding-r-0{
	padding-right: 0;
}
.padding-rl-0{
	padding-left: 0;
	padding-right: 0;
}
.right-container.voorkeuren-box .well-olympia .vacatures .well{
	padding: 5px;
	min-height: 49px;
}
.right-container.voorkeuren-box .well-olympia .vacatures .well span{
	padding: 4px 5px 6px 5px;
	border: 1px solid #ddd;
	display: inline-block;
	background: rgb(110, 114, 115);
	border-radius: 4px;
	color: #ffffff;
}
.right-container.voorkeuren-box .well-olympia .vacatures .well span a{
	margin-left: 10px;
	margin-right: 5px;
}
.right-container.voorkeuren-box .well-olympia .vacatures .well span a i{
	font-size: 18px;
}
.right-container.voorkeuren-box .well-olympia .vacatures .well span a:hover,
.right-container.voorkeuren-box .well-olympia .vacatures .well span a:focus{
	text-decoration: none;
}
.right-container.voorkeuren-box .well-olympia .box-inner hr{
	margin-top: 18px;
	margin-bottom: 18px;
}
.typeahead-field{
	padding-top: 15px;
	border-radius: 5px;
}
.afstand{
	position: relative;
	top: 23px;
}
.typeahead-query {
	width: 50% !important;
	background: #fff;
}
.distance{
	width: 71%;
	float: right;
	position: relative;
	top: 14px;
}
.buttons{
	margin-top: 14px;
}
label.title.black{
	color: #333333;
}
.navbar-secondary.translate-down {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.navbar-secondary.translate-up {
	-webkit-transform: translate(0, -54px);
	-moz-transform: translate(0, -54px);
	-ms-transform: translate(0, -54px);
	-o-transform: translate(0, -54px);
	transform: translate(0, -54px);
}
.navbar-secondary {
	-webkit-transform: translate(0, -54px);
	-moz-transform: translate(0, -54px);
	-ms-transform: translate(0, -54px);
	-o-transform: translate(0, -54px);
	transform: translate(0, -54px);
	transition: 1s all ease;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
.navbar-secondary .navigation {
	width: 560px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
.navbar-secondary .navigation li {
	position: relative;
	margin: 0;
	float: left;
	width: auto;
	border: 0;
	padding: 0;
	background: #fff;
}
.navbar-secondary .navigation li:nth-child(1) a,
.navbar-secondary .navigation li:nth-child(1) a.activeNav{
	background: #595959;
	padding: 10px 15px;
}

.navbar-secondary .navigation li a {
	display: block;
	max-width: 186px;
	height: 54px;
	line-height: 17px;
	background: #ff4400;
	color: #fff;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-right: 1px solid #ccc;
	padding: 10px 10px;
	font-family: sans-serif;
	font-weight: 600;
	transition: 1s all ease;
	outline: none;
}
.navbar-secondary .navigation li a:hover {
	background:#FF6E39;
}
.navbar-secondary .navigation li a.activeNav{
	background: #003087;
}
.navbar-secondary .navigation li:nth-child(3) a{
	width: 160px;
}
.cv .navbar-secondary .navigation li:nth-child(3) a{
	width: 156px;
}
.cv .navbar-secondary .navigation li:nth-child(4) a{
	width: 116px;
}
.cv .navbar-secondary .navigation li:nth-child(5) a{
	width: 63px;
}
.cv .navbar-secondary .navigation li:nth-child(6) a{
	width: 140px;
}
.cv .navbar-secondary .navigation li a {
	height: 35px;
}
.cv .navbar-secondary .navigation {
	width: 613px;
}
.navbar-secondary .navigation li:nth-child(4) a{
	width: 111px;
}
.navbar-secondary .navigation li:nth-child(5) a{
	width: 118px;
}
.navbar-secondary .navigation li:nth-child(6) a{
	width: 86px;
}

.logo {
	display: block;
	margin: 0;
}
.meta {
	text-align: right;
	height: 59px;
	border: solid #ced7d1 !important;
	border-width: 0 1px 1px 1px !important;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
	box-shadow: 0px 0px 5px 0px #f6f6f6\9;
	float: right;
	background: #fff;
}
.logged {
	display: inline-block;
	float: left;
	padding: 17px 10px;
	line-height: 12px;
	font-size: 10px;
	border-right: 1px solid #e2e7e3;
	text-align: left;
}
.logged.bell{
	position: relative;
}
.logged.bell .olympia-icon{
	font-size: 2.5em;
	color: #444444;
	cursor: pointer;
}
.logged.bell .number{
	position: absolute;
	cursor: pointer;
	top: 7px;
	right: 2px;
	background: #ff4400;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	font-size: 10px;
	padding: 2px 5px;
	color: #fff;
	font-weight: bold;
}
.username {
	margin-bottom: 2px;
}
.meta .logged .profile {
	text-align: left;
	margin-top: 2px;
}
.meta .user {
	padding: 5px;
	float: right;
}
.meta .user img {
	border-radius: 5px;
	width: 46px;
}

/*Creating switch*/
.switch {
	position: relative;
	display: inline-block;
	border-radius: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.6);
}
.switch.on {
	width: 53px;
}
.switch input[type="checkbox"] {
	display: none;
}
.switch label {
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
	font-weight: normal;
}
.switch input[type="checkbox"] + label {
	display: block;
	height: 22px;
	padding: 0;
	background: none;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:first-of-type,
.switch label span:first-of-type {
	width: 200%;
	margin-left: -100%;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
	display: inline-block;
	margin-top: 0;
	margin-right: 0;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:first-of-type:before,.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:first-of-type:after,
.switch label span:first-of-type:before, .switch label span:first-of-type:after{
	float: left;
	width: 50%;
	height: 22px;
	line-height: 2.3;
	font-size: 0.6495em;
	color: white;
	font-weight: 600;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:first-of-type:before,
.switch label span:first-of-type:before {
	padding-left: 6px;
	color: #444444;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.22);
	background-color: #6b8f1a;
	background-image: -webkit-linear-gradient(#a5cd4e, #6b8f1a);
	background-image: linear-gradient(#a5cd4e, #6b8f1a);
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:first-of-type:after,
.switch label span:first-of-type:after {
	padding-right: 6px;
	background-color: #8f1a1a;
	background-image: -webkit-linear-gradient(#cd4e54, #8f1a1a);
	background-image: linear-gradient(#cd4e54, #8f1a1a);
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.22);
	text-align: right;
	letter-spacing: 1.1px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch input[type="checkbox"]:checked + label span:first-of-type,
.switch input[type="checkbox"]:checked + label span:first-of-type {
	margin-left: 0;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch.on label span:first-of-type:before,
.switch.on label span:first-of-type:before {
	content: 'AAN';
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch.on label span:first-of-type:after,
.switch.on label span:first-of-type:after {
	content: 'UIT';
}

.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch input[type="checkbox"]:checked + label span:last-of-type,
.switch input[type="checkbox"]:checked + label span:last-of-type {
	right: 5px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch.on label span:last-of-type,
.switch.on label span:last-of-type {
	right: 31px;
}
.alert-box.right-container .well.well-olympia .accordion ul.accordion-data > li .switch label span:last-of-type,
.switch label span:last-of-type {
	margin: 3px 0 0 0;
	background-image: url("../img/icon-toggle-button.png");
	background-repeat: no-repeat;
	width: 17px;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
	display: inline-block;
}
/*box on dahsboard at the bottom*/
.boxes.dashboard{
	margin-top: 10px;
	width: 100%;
	float: left;
}
.boxes.dashboard ul li{
	width: 100%;
	float: left;
	margin-bottom: 10px;
	line-height: normal;
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
	width: 100%;
	float: left;
	padding: 5px;
}
.boxes.dashboard ul li .box label{
	float: left;
	width: 71%;
}
.boxes.dashboard ul li .box span.right-side{
	float: left;
	width: 27%;
	text-align: right;
}
.half-box #fromTO{
	display: inline-block;
	float: right;
}
.half-box #fromTO .switch label span{
	font-size: 15px;	
}
.half-box #fromTO .switch label span:first-of-type:before,
.half-box #fromTO .switch label span:first-of-type:after{
	line-height: 22px;
}
.dashboard.right-container.alert-box{
	margin: 15px 0 0;
}
.dashboard.right-container.alert-box .well-olympia{
	float: left;
}
.dashboard.right-container.alert-box .well-olympia .alerts .header #fromTO{
	display: none;
}
.dashboard.right-container.alert-box .well-olympia .alerts .header .job-title{
	width: 98%;
}
.dashboard.right-container.alert-box .well-olympia h1.black{
	display: inline-block;
}
.dashboard.right-container.alert-box .well-olympia .globalSwitch.header{
	display: inline-block;
	float: right;
	margin-top: 16px;
}
.dashboard.right-container.alert-box .well-olympia .globalSwitch.header .switch span:first-of-type{
	font-size: 1.3em;
}
/*hover editing*/

.hoverEditing ul li:nth-child(2n){
	margin-bottom: 7px;
}
.hoverEditing ul li:nth-child(2n) .data{
	padding: 3px 3px 2px 0;
}
.hoverEditing ul li:nth-child(2n):hover .data{
	background: #eeeeee;
}
.hoverEditing ul li:nth-child(2n) .olympia-icon{
	float: none !important;
	background: #eee;
	visibility: hidden;
	padding: 2px;
	position: relative;
	top: 2px;
	margin-left: 1px;
}
.hoverEditing ul li:nth-child(2n):hover .olympia-icon{
	visibility: visible;
}
.hoverEditing.details ul li{
	padding-bottom: 0 !important;
}
.hoverEditing.details ul li:nth-child(2n) .data{
	padding: 3px 3px 3px 0;
	display: inline-block !important;
}
.hoverEditing.details ul li:nth-child(2n) .olympia-icon{
	display: inline-block !important;
	margin: 0 0 8px 1px;
	font-size: 1.22em;
	padding: 4px;
	color: #666666;
	cursor: pointer;
	top: 3px;
}
/*dashboard notifications*/
.notification.well .accordion-data .header{
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.notification.well .accordion-data .header .job-title{
	padding: 15px 20px;
	cursor: pointer;
}
.notification.well .accordion-data .header .job-title .olympia-bell-o{
	font-size: 1.5em;
	margin-right: 20px;
	color: #ff4400;
}
.notification.well .accordion-data .header .job-title .olympia-caret-down,
.notification.well .accordion-data .header .job-title .olympia-caret-up{
	position: relative;
	top: 5px;
	right: -12px;
}
.notification.well .accordion-data .header .job-title strong{
	position: relative;
	top: -3px;
}
.notification.well .accordion-data li .job-body .small-box{
	border: 1px solid #bbb;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
	box-shadow: 0px 0px 5px 0px #f6f6f6\9;
}
#pasteString1 .actualString{
	display: inline;
	line-height: 22px;
	margin-right: 1px;
	padding: 4px 0;
	padding-right: 5px;
}
#pasteString1:hover .actualString{
	background: #eeeeee;
}
#pasteString1 .olympia-pencil{
	font-size: 1.22em;
	color: #666666;
	cursor: pointer;
	visibility: hidden;
	background: #eee;
	margin-left: 1px;
	padding: 4px 4px;
	position: relative;
	top: 3px;
}
#pasteString1:hover .olympia-pencil{
	visibility: visible;
}
small.circle{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 100%;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
small.circle.green{
	background-color: #6b8f1a;
	background-image: -webkit-linear-gradient(#a5cd4e, #6b8f1a);
	background-image: linear-gradient(#a5cd4e, #6b8f1a);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.22);
}
small.circle.red{
	background-color: #8f1a1a;
	background-image: -webkit-linear-gradient(#cd4e54, #8f1a1a);
	background-image: linear-gradient(#cd4e54, #8f1a1a);
}
.error .red{
	color: rgb(202, 63, 63);
}
.tabs .left-tab,
.tabs .right-tab{
	display: inline-block;
	width: 49%;
	margin: 10px 0 0;
}
.tabs .left-tab span,
.tabs .right-tab span{
	width: 100%;
	display: block;
	font-weight: 600;
	color: #666666;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border: 1px solid #ced7d1;
	border-bottom: none;
	background: #e9e9e9 url(../img/nav-bg.png) repeat-x 0 0; 
	border-radius: 5px 5px 0 0;
}
.tabs .left-tab.active span,
.tabs .right-tab.active span{
	background: #ffffff;
	color: #ff4400;
}
.tabs .left-tab span:hover,
.tabs .right-tab span:hover{
	color: #ff4400;	
}
.data ul > li {
	width: 98.5%;
	margin-top: 10px;
}
.data ul > li.well-olympia{
	padding: 0 15px 15px !important;
}
.data ul > li.well-olympia .heading h4{
	width: 86%;
	font-size: 13px;
}
.data ul > li.well-olympia .heading h4 a{
	color: #333333;
}
.data ul > li.well-olympia .heading h4 span.olympia{
	color: #aaaaaa;
	margin-left: 10px;
	cursor: pointer;
}
.data ul > li.well-olympia .heading > div{
	margin: 10px 0;
	float: left;
	width: 100%;
}
.data ul > li.well-olympia .heading > div strong{
	float: left;
	width: 80%;
}
.data ul > li.well-olympia .jobBody > span{
	color: #ff4400;
}


.favourite{
	color: #ff4400 !important;
}
.job-details-logo{
	float: right;
	margin-left: 10px;
}
.data .right-tab-data span.noData{
	width: 98.5%;
	display: block;
	padding: 15px;
	background: #ffffff;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
	box-shadow: 0px 0px 5px 0px #f6f6f6\9;
	margin: 0;
	position: relative;
	top: -10px;
	font-style: italic ;
}
.data .paging{
	text-align: center;
}
.data .pagination > li > a,.data .pagination > li > span{
	border: none;
	color: #333333;
}
.data .pagination > li:hover > a,.data .pagination > li:focus > a{
	background: #ffffff;
}
.data .pagination > li.active > a,.data .pagination > li.active > span{
	background: #ffffff;
	font-weight: bold;
}
.data .pagination > li:first-child > a,
.data .pagination > li:last-child > a{
	color: #ff4400;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background: #ffffff !important;
	font-weight: bold;
	color: #333333;	
}
.dashboard.data .left-tab-data .actualData ul li{
	width: 100%;
}
.dashboard.data ul > li.well-olympia .heading > div{
	float: none;
	padding-bottom: 6px;
}
.dashboard.data ul > li.well-olympia:last-child .heading > div{
	padding-bottom: 20px;
}
.dashboard.data ul > li .heading h4{
	display: inline-block;
}
.dashboard.data ul > li .heading h6{
	display: inline-block;
	text-align: right;
	width: 13%;
	float: right;
	padding: 5px 0 0;
	font-weight: bold;
}