<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn sollicitaties</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom Henk Van Dunzelkamp</span></div>

					        <div class="profile">
					            <a href="javascript:void(0)"> › mijn profiel</a> 
					            <a href="javascript:void(0)"> › uitloggen</a>
					            <a href="javascript:void(0)"> › stel een vraag</a>
					        </div>
					    </div>

					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek werk</a>
						<ul>
							<li>
								<a href="/Vacatures" class="title">Alle vacatures</a>
							</li>
							<li>
								<a href="/vacaturesperbranche" class="title">Vacatures per branche</a>
							</li>
							<li>
								<a href="/werkgevers" class="title">Vacatures bij topbedrijven</a>
							</li>
							<li>
								<a href="/Registration/RegisterIntro" class="title">Direct inschrijven bij Olympia</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek personeel</a>
						<ul>
							<li>
								<a href="/voorendoorondernemers" class="title">Voor en door ondernemers</a>
							</li>
							<li>
								<a href="http://www.olympia.nl/toptalent" target="_blank" class="title">ONZE VISIE OP TOPTALENT</a>
							</li>
							<li>
								<div class="title">Onze diensten</div>
								<ul>
									<li>
										<a href="/onzediensten/uitzenden" class="title">Uitzenden</a>
									</li>
									<li>
										<a href="/payrollservice" class="title">Payroll service</a>
									</li>
									<li>
										<a href="/wervingenselectie" class="title">Werving en selectie</a>
									</li>
									<li>
										<a href="/mastervendorservice" class="title">Master vendor service</a>
									</li>
									<li>
										<a href="/inhouseservice" class="title">Inhouse Service</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/vacatureplaatsen" class="title">Vacature aanmelden</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau?radius=25" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Over Olympia</a>
						<ul>
							<li>
								<a href="/welovetoworkforyou" class="title">We love to work for you</a>
							</li>
							<li>
								<a href="http://www.ondernemenbijolympia.nl" target="_blank" class="title">Ondernemer worden?</a>
							</li>
							<li>
								<a href="/contact" class="title">Contact</a>
							</li>
						</ul>
					</li>
					<li class="current">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts</a></li>
									<li class="active"><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>21</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li class="hidden"><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="progress-container">
								<label>Compleetheid profiel <span>60%</span></label> 
								<div class="progress" style="margin-bottom: 0px;">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
							<div class="profile-data">
								<label class="title">Aanbevolen voor jou:</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container">
				<div class="well well-olympia sollicitaties">
					<h1>Mijn sollicitaties 'track &amp; trace'</h1>
					<div class="box-inner accordion">
						<p>Hieronder kun je de status bekijken van je meest recente sollicitatie(s). Per stap kun je zien wanneer je uiterlijk een reactie kunt verwachten. Ook kun je de vacature(s) waar je op gesolliciteerd hebt bekijken.</p>
						<div class="row">
							<div class="col-lg-12 text-center">
								<label>Vandaag<br>08-07-2015</label><br>
								<i class="olympia-icon olympia-map-marker"></i>
							</div>
							<div class="col-lg-12 solid-line">
								<span>&nbsp;</span>
								<ul class="accordion-data">
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Magazijnmedewerker (m/v)</strong>
												<strong class="pull-right">81 anderen solliciteerden op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre box1" style="margin-left: 40px;">
														<label>1. sollicitatie verstuurd<br><span>03-07-2015</span></label>
													</div>
													<div class="box center">
														<label>2. geaccepteerd/ afgewezen<br><span>verwacht: 10-07-2015</span></label>
													</div>
													<div class="box post">
														<label>3. voorgesteld werkgever<br><span>verwacht: 24-07-2015</span></label>
													</div>
													<div class="box post box1">
														<label>4. eerste werkdag<br><span>verwacht: 07-08-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Fulltime orderpicker</strong>
												<strong class="pull-right">9 anderen solliciteerden op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre box1">
														<label>1. sollicitatie verstuurd<br><span>01-07-2015</span></label>
													</div>
													<div class="box pre">
														<label>2. geaccepteerd<br><span>07-07-2015</span></label>
													</div>
													<div class="box center">
														<label>3. voorgesteld werkgever<br><span>verwacht: 20-07-2015</span></label>
													</div>
													<div class="box post box1">
														<label>4. eerste werkdag<br><span>verwacht: 03-08-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Heftruckchauffeur (m/v)</strong>
												<strong class="pull-right">44 anderen solliciteerden op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre-rejected box1">
														<label>1. sollicitatie verstuurd<br><span>01-07-2015</span></label>
													</div>
													<div class="box pre-rejected">
														<label>2. afgewezen<br><span>07-07-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>