<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn video CV</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o" onclick="location.href='MijnOlympia-dashboard.html?scrollTo=notification'"></span>
					    	<span class="number">3</span>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li class="active"><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li><a href="https://www.e-flexer.nl/olympia/index.ewb" target="_blank">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container cv">
				<div class="well well-olympia">
					<h1>Mijn video cv</h1>
					<div class="box-inner">
						<p>Met een video CV kunnen wij en je toekomstige werkgever jou nog beter leren kennen, waardoor je solliciatieproces nog sneller kan verlopen. Gebruik je video CV om iets over jezelf te vertellen en naar wat voor werk je op zoek bent.</p>
						<p>Je kunt hieronder direct een video opnemen met je webcam of een eerder gemaakte video uploaden.</p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="box-inner accordion">
						<ul class="accordion-data">
							<li class="show">
								<div class="header" onclick="toggleView(this)">
									<div class="job-title">
										<strong>Heb je nog geen video CV? Neem hem hier op</strong>
										<strong class="pull-right"><span class="olympia-caret-up olympia-icon pull-right"></span></strong>
									</div>
								</div>
								<div class="job-body">
									<div class="row">
										<div class="col-sm-7">
											<img src="../img/video.jpg" style="width: 100%">
										</div>
										<div class="col-sm-5">
											<label class="title black">Tips voor jouw video CV:</label>
											<ul class="list-style-square">
												<li><span>Stel jezelf voor</span></li>
												<li><span>Benoem je sterke punten</span></li>
												<li><span>Houd het kort en krachtig (maximaal 2 minuten)</span></li>
												<li><span>Vertel naar wat voor soort baan je op zoek bent</span></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="job-title">
										<strong>Heb je al een video CV? Upload hem hier</strong>
										<strong class="pull-right"><span class="olympia-caret-up olympia-icon pull-right"></span></strong>
									</div>
								</div>
								<div class="job-body">
									<div class="row">
										<div class="col-sm-12">
											<div class="video-box">
												<p>Sleep je videobestand hier of kies een bestand: <button class="btn btn-default">Bestand kiezen</button></p>
												<button class="btn btn-primary">Uploaden</button>
											</div>				
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	
</body>
</html>