<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn dashboard</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o" onclick="location.href='MijnOlympia-dashboard.html?scrollTo=notification'"></span>
					    	<span class="number">3</span>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li class="active"><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li id="emailAlert"><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li class="hidden"><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container topLink">
				<div class="navbar-secondary translate-up" id="secondary-navigation">
			        <ul class="navigation">
			          <li><a href="#" name="document">Terug naar boven</a></li>
			        </ul>
			    </div>
				<div class="well well-olympia">
					<h1>Goedemiddag Henk!</h1>
					<div class="box-inner">
						<p>Welkom op je Mijn Olympia account. Je laatste bezoek was op dinsdag 23 maart 2015 om 19:34.</p>
						<hr>
						<label class="title black">Ben je momenteel op zoek naar werk?</label>
						<div id="pasteString1">
							<span class="actualString">
								<span class="string1"></span>
								<span ><strong class="dates"></strong></span>
								<span class="olympia-icon olympia-pencil"></span>
							</span>
						</div>

						<hr>
						<p>Olympia helpt je graag bij het zoeken naar een baan. Zorg er dus voor dat je gegevens altijd up to date zijn. Op die manier kan Olympia jou nog beter van dienst zijn.</p>
						<div class="row">
							<div class="col-lg-4">
								<div class="hoverEditing profile-data cv">
									<label class="title addresses black">Persoonsgegevens</label>
									<ul>
										<li class="sub-title"><label class="sub-title">Naam:</label></li>
										<li class="address"><span class="data">Henk van Dunzelkamp</span><span class="olympia-icon olympia-pencil" data-name="persoonlijke" data-href="MijnOlympia-account.html"></span></li>
										<li class="sub-title"><label class="sub-title">Woonplaats:</label></li>
										<li class="city"><span class="data">Amersfoort</span><span class="olympia-icon olympia-pencil" data-name="persoonlijke" data-href="MijnOlympia-account.html"></span></li>
										<li class="sub-title"><label class="sub-title">Telefoon:</label></li>
										<li class="phone"><span class="data" >06-35792468</span><span class="olympia-icon olympia-pencil" data-name="persoonlijke" data-href="MijnOlympia-account.html"></span></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="hoverEditing profile-data cv">
									<label class="title addresses black">&nbsp;</label>
									<ul>
										<li class="sub-title"><label class="sub-title">E-mail:</label></li>
										<li class="email"><span class="data">henk.van.dunzelkamp@outlook.com</span><span class="olympia-icon olympia-pencil" data-href="MijnOlympia-account.html" data-name="emailadres"></span></li>
										<li class="sub-title"><label class="sub-title">Wachtwoord:</label></li>
										<li class="phone"><span class="data"><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span></span><span class="olympia-icon olympia-pencil" data-name="Wachtwoordwijzigen" data-href="MijnOlympia-account.html"></span></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="profile-data hoverEditing cv">
									<label class="title addresses black">Mijn ervaring &amp; CV</label>
									<ul>
										<li>
											<label class="sub-title">Mijn meest recente opleiding:</label>
										</li>
										<li><span class="data">MBO, Rotterdam college</span><span class="olympia-icon olympia-pencil" data-name="jouwcv" data-href="MijnOlympia-cv-ervaring.html"></span></li>
										<li>
											<label class="sub-title">Mijn meest recente werkervaring:</label>
										</li>
										<li><span class="data">Heftruckchauffeur, Philips BV</span><span class="olympia-icon olympia-pencil" data-name="jouwcv" data-href="MijnOlympia-cv-ervaring.html"></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-olympia notification">
					<h1 class="black">Mijn berichten <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mijn berichten" data-content="Je hebt op dit moment 3 nieuwe berichten." style="cursor: pointer;"><i class="olympia-info3"></i></a></h1>
					<div class="box-inner accordion">
						<div class="row">
							<div class="col-lg-12">
								<ul class="accordion-data">
									<li>
										<div class="header" title="Bekijk de nieuwe vacaturesuggesties">
											<div class="job-title" onclick="location.href='MijnOlympia-suggesties.html'">
												<span class="olympia-icon olympia-bell-o"></span>
												<strong>3 nieuwe vacature suggesties</strong>
											</div>
										</div>
									</li>
									<li>
										<div class="header" title="Bekijk deze statusverandering">
											<div class="job-title" onclick="location.href='MijnOlympia-sollicitaties.html'">
												<span class="olympia-icon olympia-bell-o"></span>
												<strong>Statusverandering sollicitatie - Magazijnmedewerker(m/v)</strong>
											</div>
										</div>
									</li>
									<li>
										<div class="header" title="Bekijk deze statusverandering">
											<div class="job-title" onclick="location.href='MijnOlympia-sollicitaties.html'">
												<span class="olympia-icon olympia-bell-o"></span>
												<strong>Statusverandering sollicitatie - Fulltime orderpicker</strong>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-olympia sollicitaties">
					<h1 class="black">Mijn sollicitaties 'track &amp; trace'</h1>
					<a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mijn sollicitaties 'track &amp; trace'" data-content="In de Mijn sollicitaties 'track &amp; trace' kun je de actuele status bekijken van de vacatures waarop je gesolliciteerd hebt.<br><br>Per sollicitatie kun je zien hoeveel andere sollicitanten er op de vacature gesolliciteerd hebben en kun je zien wanneer een stap in het sollicitatie proces is afgerond en wat de verwachte datum is van de volgende stap(pen)." style="cursor: pointer;"><i class="olympia-info3"></i></a>
					<div class="box-inner accordion">
						<div class="row">
							<div class="col-lg-12 text-center">
								<label>Vandaag<br>08-07-2015</label><br>
								<i class="olympia-icon olympia-map-marker"></i>
							</div>
							<div class="col-lg-12 solid-line">
								<span>&nbsp;</span>
								<ul class="accordion-data">
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Magazijnmedewerker (m/v)</strong>
												<strong class="pull-right">meer dan 81 andere werkzoekenden solliciteerden ook op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre box1" style="margin-left: 40px;">
														<label>1. sollicitatie verstuurd<br><span>03-07-2015</span></label>
													</div>
													<div class="box center">
														<label>2. geaccepteerd/ afgewezen<br><span>verwacht: 10-07-2015</span></label>
													</div>
													<div class="box post">
														<label>3. voorgesteld werkgever<br><span>verwacht: 24-07-2015</span></label>
													</div>
													<div class="box post box1">
														<label>4. eerste werkdag<br><span>verwacht: 07-08-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Fulltime orderpicker</strong>
												<strong class="pull-right">minder dan 15 andere werkzoekenden solliciteerden ook op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre box1">
														<label>1. sollicitatie verstuurd<br><span>01-07-2015</span></label>
													</div>
													<div class="box pre">
														<label>2. geaccepteerd<br><span>07-07-2015</span></label>
													</div>
													<div class="box center">
														<label>3. voorgesteld werkgever<br><span>verwacht: 20-07-2015</span></label>
													</div>
													<div class="box post box1">
														<label>4. eerste werkdag<br><span>verwacht: 03-08-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
									<li>
										<div class="heading" onclick="toggleView(this)">
											<div>
												<strong>Heftruckchauffeur (m/v)</strong>
												<strong class="pull-right">meer dan 44 andere werkzoekenden solliciteerden ook op deze functie &nbsp;&nbsp;<span class="olympia-caret-down olympia-icon pull-right"></span></strong>
											</div>
											<div class="job-description">
												<div class="row">
													<div class="box pre-rejected box1">
														<label>1. sollicitatie verstuurd<br><span>01-07-2015</span></label>
													</div>
													<div class="box pre-rejected">
														<label>2. afgewezen<br><span>07-07-2015</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="job-body">
											<h1>Magazijnmedewerker</h1>
											<ul class="accordion-li">
												<li><strong>Plaats</strong><span>Woerden</span></li>
												<li><strong>Dienstverband</strong><span>Vast</span></li>
												<li><strong>Werkgever</strong><span>HEMA</span></li>
												<li><strong>Werk/denkniveau</strong><span>MBO werk- en denkniveau</span></li>
												<li><strong>Fulltime / parttime</strong><span>Fulltime</span></li>
												<li><strong>Branche</strong><span>Transport</span></li>
												<li><strong>Aantal uur</strong><span>40</span></li>
												<li><strong>Vakgebied</strong><span>Magazijn</span></li>
												<li><strong>Salaris</strong><span>1500 - 2000</span></li>
												<li><strong>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></strong><span>12345678</span></li>
											</ul>
											<div class="para with-image">
												<label class="title">Organisatie-omschrijving</label>
												<div class="row">
													<p class="col-lg-10">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
													</p>
													<div class="col-lg-2 padding-left-0">
														<div class="img-thumbnail">
															<img src="../img/VacaturesRockwoolGroup.png"/>
														</div>
													</div>
												</div>
											</div>
											<div class="para">
												<label class="title">Functie-omschrijving</label>
												<p>Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.</p>
											</div>
											
											<div class="listed">
												<label class="title">Ons aanbod</label>
												<ul>
													<li><span>Goed salaris en ploegentoeslagen</span></li>
													<li><span>Reiskostenvergoeding</span></li>
												</ul>
												<p>Het betreft in eerste instantie een baan op oproepbasis.</p>
											</div>

											<div class="listed">
												<label class="title">Wij vragen</label>
												<ul>
													<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
													<li><span>Ben je in het bezit van eigen vervoer?</span></li>
													<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
												</ul>
											</div>
											<div class="listed">
												<p><label class="title">Olympia contactpersoon voor deze vacature is:</label><br />Jesse van Geel<br />Heb je een vraag?<br />Bel mij op: 0781-567890 of <a href="javascript:void(0)">stuur mij een bericht</a></p>
												<p><a href="javascript:void(0)">Toon vestiging</a><iframe width="610" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rockwool%20B.V.%2C%20Industrieweg%2C%20Roermond%2C%20Netherlands&key=AIzaSyAxPR24fWAceFOtzwar79le2f7BtY_wLq4"></iframe></p>
											</div>
										</div>

									</li>
								</ul>
							</div>
							<div class="text-center"><a href="MijnOlympia-sollicitaties.html">Bekijk alle sollicitaties (3)</a></div>
						</div>
					</div>
				</div>
				<div class="well well-olympia">
					<h1 class="black">Mijn suggesties&nbsp;&nbsp;<a id="tooltip6" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mijn suggesties" data-content="Olympia ververst dagelijks het online aanbod. Op basis van jouw voorkeuren en ingestelde e-mail alerts vind je hier passende vacatures.<br><br>De match geeft aan hoe goed de vacature aansluit op jouw voorkeuren. Bekijk de vacature door erop te klikken of voeg hem toe aan je favoriete vacature suggesties door op de ster te klikken." style="cursor: pointer;"><i class="olympia-info3"></i></a></h1>
					<div class="box-inner">
						<div class="text-right"></div>
						<div class="dashboard data">
							<div class="left-tab-data">
								<div class="actualData">
									<ul>
										<li class="well well-olympia" id="1">
											<div class="heading">
												<h4><a href="MijnOlympia-suggesties.html?clickedId=1&viewed=true" class="favourite">Met spoed op zoek naar magazijnkrachten!</a><span class="olympia olympia-star favouriteAdd"></span></h4>
												<h6>Match: 95%</h6>
												<div>
													<strong>Amersfoort | Fulltime | 40 uur | MAVO werk- en denkniveau</strong>
													<span class="pull-right">22 september 2015</span>
												</div>
											</div>
										</li>
										<li class="well well-olympia" id="2">
											<div class="heading">
												<h4><a href="MijnOlympia-suggesties.html?clickedId=2&viewed=true" class="favourite">Gestopt met je studie?</a><span class="olympia olympia-star favouriteAdd"></span></h4>
												<h6>Match: 90%</h6>
												<div>
													<strong>Amersfoort | Fulltime | 40 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">21 september 2015</span>
												</div>
											</div>
										</li>
										<li class="well well-olympia" id="3">
											<div class="heading">
												<h4><a href="MijnOlympia-suggesties.html?clickedId=3&viewed=true" class="favourite">Reachtruckchauffeur/ Allround Magazijnmedewerker</a><span class="olympia olympia-star favouriteAdd"></span></h4>
												<h6>Match: 90%</h6>
												<div>
													<strong>Zeist | Fulltime | 38 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
										</li>
										<li class="well well-olympia" id="4">
											<div class="heading">
												<h4><a href="MijnOlympia-suggesties.html?clickedId=4">Allround Magazijnmedewerker</a><span class="olympia olympia-star favouriteAdd"></span></h4>
												<h6>Match: 80%</h6>
												<div>
													<strong>Nieuwegein | Fulltime | 37.5 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
										</li>
										<li class="well well-olympia" id="5">
											<div class="heading">
												<h4><a href="MijnOlympia-suggesties.html?clickedId=5">Ervaring opdoen in de logistiek of al ervaring als magazijnmedewerker, dan zoeken we jou!</a><span class="olympia olympia-star favouriteAdd"></span></h4>
												<h6>Match: 80%</h6>
												<div>
													<strong>Heteren | Fulltime, Parttime | 40 uur | LBO, MAVO, HAVO, VWO, MBO, HBO, Universitair, Ongeschoold</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="text-center"><a href="MijnOlympia-suggesties.html">Bekijk alle suggesties (14)</a></div>
					</div>
				</div>
				<div class="well well-olympia orange-well hidden">
					<h1 class="black">Vacatures zoeken</h1>
					<div class="box-inner">
						<div class="row">
							<div class="col-sm-4 input-box">
								<label>Functie / trefwoord</label>
								<input type="text" class="form-control" placeholder="Functie / trefwoord"/>
							</div>
							<div class="col-sm-4 input-box">
								<label>Postcode / plaats</label>
								<input type="text" class="form-control" placeholder="Postcode / plaats"/>
							</div>
							<div class="col-sm-4">
								<label>Afstand</label>
								<select class="form-control">
									<option value="5">5 km</option>
									<option value="10">10 km</option>
									<option value="20">20 km</option>
									<option value="30">30 km</option>
									<option selected="selected" value="50">50 km</option>
									<option value="75">75 km</option>
									<option value="100">100 km</option>
									<option value="150">150 km</option>
									<option value="200">200 km</option>
								</select>
								<button type="submit" class="btn btn-primary"><i class="olympia-search"></i>Zoeken</button>
								<a href="javascript:void(0)" class="pull-right">Uitgebreid zoeken &gt;</a>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-olympia" style="display: none">
					<div class="row">
						<div class="col-lg-6 half-box">
							<label class="title">Mijn e-mail alerts</label>
							<a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mijn e-mail alerts" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a>
							<div class="form-group" id="fromTO">
								<div class="switch on" title="Met deze knop kun je in één keer al je e-mail alerts inschakelen of uitzetten.">
								    <input class="special-toggle" type="checkbox" name="toggleButton4" id="toggleButton4" checked="checked">
								   	<label for="toggleButton4">
									    <span></span>
									    <span></span>
								    </label>
								</div>
							</div>
							<p>Je kunt alerts instellen om per e-mail op de hoogte gehouden te worden van nieuwe vacatures.</p>
							<p class="margin-bottom-0">Je huidige e-mail alerts</p>
							<div class="boxes dashboard">
								<ul>
									<li>
										<div class="box">
											<label class="left-side">(Automatisch) op basis van je voorkeuren</label>
											<span class="right-side bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
										</div>
									</li>
									<li>
										<div class="box">
											<label class="left-side">Logistiek medewerker in Den Haag</label>
											<span class="right-side bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
										</div>
									</li>
									<li>
										<div class="box">
											<label class="left-side">Magazijnmedewerker in Gouda</label>
											<span class="right-side bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
										</div>
									</li>
									<li>
										<div class="box">
											<label class="left-side">Reachtruckchauffeur in Breda</label>
											<span class="right-side bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 half-box last-box" style="display: none">
							<label class="title">Contact met intercedent</label>
							<a id="tooltip2" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Contact met intercedent" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a>
							<p>Een Olympia intercedent kan mij bij een geschikte vacature op de volgende manieren bereiken:</p>
							<p class="margin-bottom-0">
								<span>E-mail</span>
								<br><span>Bellen (na 15:00)</span>
								<br><span>SMS'en</span>
								<span class="pull-right bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
							</p>
						</div>
					</div>
				</div>

				<div class="dashboard right-container alert-box">
					<div class="well well-olympia" style="">
						<h1 class="black">Mijn e-mail alerts <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mijn e-mail alerts" data-content="Je kunt e-mail alerts instellen om per e-mail op de hoogte gehouden te worden van nieuwe vacatures.<br><br>De eerste alert is aangemaakt op basis van je Mijn Voorkeuren. Deze kun je aanpassen in de Mijn Voorkeuren pagina van je Mijn Olympia account.<br><br>Naast deze e-mail alerts kun je additionele alerts aanmaken in de Mijn E-mail alerts sectie van je Mijn Olympia account. Dit kan handig zijn wanneer je los van je voorkeuren ook op open staat voor (andere) functies of werk in andere locaties.<br><br>Je kunt per e-mail alert ook instellen hoe vaak je wil dat wij je per e-mail op de hoogte houden van nieuwe vacatures. Met de Aan-uit knop hiernaast kun je alle e-mail alerts in één keer in- of uitschakelen." style="cursor: pointer;"><i class="olympia-info3"></i></a>
						</h1>
						<div class="header globalSwitch">
							<div class="form-group" id="fromTO">
								<div class="switch on globalCheck">
								    <input class="special-toggle" type="checkbox" name="toggleButton5" id="toggleButton5" checked="checked">
								   	<label for="toggleButton5" title="Met deze knop kun je al je e-mail alerts in één keer in- of uitschakelen">
									    <span></span>
									    <span></span>
								    </label>
								</div>
							</div>
						</div>
						
						<div class="box-inner accordion">
							<ul class="accordion-data alerts">
								<li id="1">
									<div class="header" title="Bekijk of bewerk deze e-mail alert">
										<div class="job-title" onclick="redirectToEmail(1)">
											<small class="circle green"></small><strong id="alertname">(Automatisch) op basis van je voorkeuren</strong >
										</div>
									</div>
								</li>
								<li id="2">
									<div class="header" title="Bekijk of bewerk deze e-mail alert">
										<div class="job-title" onclick="redirectToEmail(2)">
											<small class="circle green"></small><strong >Logistiek medewerker in Den Haag</strong >
										</div>
									</div>
								</li>
								<li id="3">
									<div class="header" title="Bekijk of bewerk deze e-mail alert">
										<div class="job-title" onclick="redirectToEmail(3)">
											<small class="circle red"></small><strong >Magazijnmedewerker in Gouda</strong >
										</div>
									</div>
								</li>
								<li id="4">
									<div class="header" title="Bekijk of bewerk deze e-mail alert">
										<div class="job-title" onclick="redirectToEmail(4)">
											<small class="circle red"></small><strong >Reachtruckchauffeur in Breda</strong>
										</div>
									</div>
								</li>
							</ul>
							
						</div>
						<div class="text-center"><a href="MijnOlympia-email-alerts.html">Bekijk alle e-mail alerts (4)</a><br><br></div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- modal popups starts -->
	<div class="modal fade" id="bewerkenVoorkeuren" tabindex="-1" role="dialog" aria-labelledby="bewerkenVoorkeuren" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Ben je momenteel op zoek naar werk?</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group nieuw">
							<div class="radio">
								<label>
									<input type="radio" name="radioNieuw" id="radio-nieuw1" value="option1" data-required="true" checked/> <span>Ja, ik ben op zoek naar werk</span>
								</label>
							</div>
							<div class="radio">
								<div class="row">
									<div class="col-lg-4 text-label">
										<span>Beschikbaar vanaf:</span>
									</div>
									<div class="col-lg-2 padding-rl-0">
										<select class="form-control" id="pop-startdatum-date-1">
											<option value="00">Datum</option>
											<option value="1" selected>1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
										</select>
									</div>
									<div class="col-lg-3 padding-r-0">
										<select class="form-control" id="pop-startdatum-maand-1">
											<option value="00">Maand</option>
											<option value="Januari">Januari</option>
											<option value="Februari">Februari</option>
											<option value="Maart">Maart</option>
											<option value="April">April</option>
											<option value="Mei">Mei</option>
											<option value="Juni" selected>Juni</option>
											<option value="Juli">Juli</option>
											<option value="Augustus">Augustus</option>
											<option value="September">September</option>
											<option value="Oktober">Oktober</option>
											<option value="November">November</option>
											<option value="December">December</option>
										</select>
									</div>
									<div class="col-lg-3">
										<select class="form-control" id="pop-startdatum-jaar-1">
											<option value="0">Jaar</option>
											<option value="2015" selected>2015</option>
											<option value="2016">2016</option>
											<option value="2017">2017</option>
											<option value="2018">2018</option>
											<option value="2019">2019</option>
											<option value="2020">2020</option>
											<option value="2021">2021</option>
											<option value="2022">2022</option>
											<option value="2023">2023</option>
											<option value="2024">2024</option>
											<option value="2025">2025</option>
										</select>
									</div>
								</div>
							</div>
							<div class="radio">
								<div class="row">
									<div class="col-lg-4 text-label">
										<span>Beschikbaar tot (optioneel):</span>
									</div>
									<div class="col-lg-2 padding-rl-0">
										<select class="form-control" id="pop-enddatum-date-1">
											<option value="0" selected>Datum</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
										</select>
									</div>
									<div class="col-lg-3 padding-r-0">
										<select class="form-control" id="pop-enddatum-maand-1">
											<option value="00" selected>Maand</option>
											<option value="Januari">Januari</option>
											<option value="Februari">Februari</option>
											<option value="Maart">Maart</option>
											<option value="April">April</option>
											<option value="Mei">Mei</option>
											<option value="Juni">Juni</option>
											<option value="Juli">Juli</option>
											<option value="Augustus">Augustus</option>
											<option value="September">September</option>
											<option value="Oktober">Oktober</option>
											<option value="November">November</option>
											<option value="December">December</option>
										</select>
									</div>
									<div class="col-lg-3">
										<select class="form-control" id="pop-enddatum-jaar-1">
											<option value="00">Jaar</option>
											<option value="2015">2015</option>
											<option value="2016">2016</option>
											<option value="2017">2017</option>
											<option value="2018">2018</option>
											<option value="2019">2019</option>
											<option value="2020">2020</option>
											<option value="2021">2021</option>
											<option value="2022">2022</option>
											<option value="2023">2023</option>
											<option value="2024">2024</option>
											<option value="2025">2025</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row hidden error">
								<div class="col-lg-12">
									<span class="red">Je hebt een ongeldige datum ingevoerd</span>
								</div>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radioNieuw" id="radio-nieuw2" value="option2" data-required="true"/> Nee, ik ben niet op zoek naar werk maar ben wel geinteresseerd in vacatures en wil graag op de hoogte gehouden worden.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="radioNieuw" id="radio-nieuw3" value="option3" data-required="true"/> Nee, ik ben niet meer op zoek naar werk en wil ook niet meer benaderd worden door Olympia
								</label>
								<p>(dit schakelt ook je e-mail alerts uit)</p>
							</div>
						</div>
						<div class="form-group opzegtermijn">
							<hr>
							<div class="radio row">
								<div class="col-lg-5 text-label">
									<label>
										<input type="radio" name="opzegtermijn" id="radio-opzegtermijn1" value="option1" data-required="true"/> Ja, <span>ik heb een opzegtermijn van:</span>
									</label>
								</div>
								<div class="col-lg-2 padding-rl-0">
									<select class="form-control" id="pop-weken-1">
										<option value="1" selected>1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>
								<div class="col-lg-3 padding-r-0">
									<select class="form-control" id="pop-maanden-1">
										<option value="2" selected>week</option>
										<option value="3" >maand</option>
									</select>
								</div>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="opzegtermijn" id="radio-opzegtermijn2" value="option2" data-required="true" checked/> Nee, <span>ik heb een opzegtermijn</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<hr>
							<div class="row">
								<div class="col-lg-12" id="pasteString">
									<span class="actualString">
										<span class="string1"></span>
										<span class="olympia-icon olympia-pencil">
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary pull-right" id="modal-voorkeuren-add" data-dismiss="modal">Wijzigingen opslaan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var globalCheck = $('.globalCheck input[type=checkbox]').prop("checked");
		$('#toggleButton5').on('change', function(){
			var globalCheck = $('.globalCheck input[type=checkbox]').prop("checked");
			$('#emailAlert a').prop('href', 'MijnOlympia-email-alerts.html?globalCheck='+globalCheck);

			if(globalCheck == false){
				$('.accordion-data.alerts').children("li").each(function (i) {
	              $(this).find('.circle').removeClass('green').removeClass('red').addClass('red');
	            });	
			}else{
				$('.accordion-data.alerts').children("li").each(function (i) {
	              $(this).find('.circle').removeClass('green').removeClass('red').addClass('green');
	            });	
			}
		})

		function getParameterByName(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	            results = regex.exec(location.search);
	        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	    }

	    var globalCheck = getParameterByName('globalCheck');
	    if(globalCheck === 'false'){
	    	
	    }else if(globalCheck === 'true'){
	    	$('#emailAlert a').prop('href', 'MijnOlympia-email-alerts.html?globalCheck='+true);
	    	$('.globalCheck input[type=checkbox]').attr("checked", true);
	    	$('.accordion-data.alerts').children("li").each(function (i) {
              $(this).find('.circle').removeClass('green').removeClass('red').addClass('green');
            });
	    }

	    //to edit the details
	    $('.hoverEditing ul li:nth-child(2n) .olympia-icon').click(function(){
	    	window.location.href = $(this).data()['href'] + '?scrollTo=' + $(this).data()['name']
	    }) 

	    var scrollTonotification = getParameterByName('scrollTo');
	    if(scrollTonotification === 'notification'){
	    	$("."+scrollTonotification).scrollView(10);
	    }
	    var listToPass = '';
	    if(window.location.search != ''){
	    	listToPass = window.location.search.split('=')[1];	
	    }
	    console.log(listToPass);
	    
	    
	    for (var i = 1; i <= listToPass.length; i++) {
	    	if(listToPass[i-1] === '1'){
	    		$('.accordion-data.alerts').find('#'+i +' .circle').removeClass('green').removeClass('red').addClass('green');
	    		
	    	}else if(listToPass[i-1] === '0'){
	    		$('.accordion-data.alerts').find('#'+i +' .circle').removeClass('green').removeClass('red').addClass('red');
	    	}
	    };
	    if(listToPass === '1111'){
	    	$('.globalCheck input[type=checkbox]').attr("checked", true);
	    }else if(listToPass === '0000'){
	    	$('.globalCheck input[type=checkbox]').removeAttr("checked");
	    }

	    Array.prototype.contains = function(v) {
		    for(var i = 0; i < this.length; i++) {
		        if(this[i] === v) return true;
		    }
		    return false;
		};

		Array.prototype.unique = function() {
		    var arr = [];
		    for(var i = 0; i < this.length; i++) {
		        if(!arr.contains(this[i])) {
		            arr.push(this[i]);
		        }
		    }
		    return arr; 
		}


	    var StarredList = [];
	    $('.dashboard .favouriteAdd').on('click', function(){
	    	var clickedId = $(this).closest('li').attr('id');
	    	
	    	if(clickedId == '1'){
	    		StarredList.push('1');
	    	}else if(clickedId == '2'){
	    		StarredList.push('2');
	    	}else if(clickedId == '3'){
	    		StarredList.push('3');
	    	}else if(clickedId == '4'){
	    		StarredList.push('4');
	    	}else if(clickedId == '5'){
	    		StarredList.push('5');
	    	}
	    })
	    $('.dashboard .heading h4 a').on('click', function(){
	    	$(this).closest('ul').find('li').each(function(){
	    		var hrefValue = $(this).find('h4 a').attr('href');
	    		var UpdatedHref = hrefValue + "&starredItems=" + StarredList.unique().join();
	    		$(this).find('h4 a').attr('href', UpdatedHref);
	    	})
	    })

	    var clickedId = getParameterByName('clickedId');
	    if(clickedId != ''){
	    	if(clickedId.length > 1){
	    		clickedId.split(',').forEach(function(item){
	    			$('#'+item).find('h4 a').attr('href', $('#'+item).find('h4 a').attr('href')+'&starredItems='+clickedId)
	    			$('#'+item).find('.olympia-star').addClass('favourite');
	    		})
	    	}else{
	    		$('#'+clickedId).find('.olympia-star').addClass('favourite');
	    		$('#'+clickedId).find('h4 a').attr('href', $('#'+clickedId).find('h4 a').attr('href')+'&starredItems='+clickedId)
	    	}
	    }
	})

    function redirectToEmail(id){
    	var globalCheck = $('.globalCheck input[type=checkbox]').prop("checked");
    	console.log(globalCheck);			
    	location.href='MijnOlympia-email-alerts.html?clickedvalue='+id+'&globalCheck='+globalCheck;
    }

    var viewed = getParameterByName('viewed');
	if(viewed == 'true'){
		$('.actualData ul > li').each(function(){
			$(this).find('h4 a').removeClass('favourite');
		})
	}    
	
	</script>
</body>
</html>