<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn competenties</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					   	<div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o" onclick="location.href='MijnOlympia-dashboard.html?scrollTo=notification'"></span>
					    	<span class="number">3</span>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li class="mijnSubmenu">
										<a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a>
										<div class="submenu">
											<ul>
												<li><a href="MijnOlympia-cv-tips.html">CV tips</a></li>
												<li><a href="MijnOlympia-sollicitatiegesprek-checklist.html?in=cv">Sollicitatiegesprek check list</a></li>
											</ul>
										</div>
									</li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li class="mijnSubmenu">
										<a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a>
										<div class="submenu">
											<ul>
												<li><a href="MijnOlympia-sollicitatiegesprek-checklist.html?in=sollicitatie">Sollicitatiegesprek check list</a></li>
											</ul>
										</div>
									</li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="mijnSubmenu active">
										<a href="MijnOlympia-competenties.html">Mijn competenties</a>
										<div class="submenu">
											<ul>
												<li><a href="MijnOlympia-contact-center-experience.html">Contact center experience</a></li>
												<li><a href="MijnOlympia-warehouse-experience.html">Warehouse experience</a></li>
												<li><a href="MijnOlympia-procesoperator-experience.html">Procesoperator experience</a></li>
											</ul>
										</div>
									</li>
									<li><a href="https://www.e-flexer.nl/olympia/index.ewb" target="_blank">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container align-well">
				<div class="well well-olympia">
					<h1>Mijn competenties</h1>
					<div class="box-inner">
						<p>Lorem ipsum dolor sit amet, sea menandri indoctum periculis ea. Quot ullum harum sea ei, sint omnes consectetuer ex nec. Ne quo rebum dicat bonorum, quo case propriae at. Posse velit eum id, nonumy civibus intellegam eu sea. Mea nonumy causae eu, illud scaevola definitionem mel at.Populo fabulas liberavisse cum ut, etiam epicurei legendos eu vis.</p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="well well-olympia margin-top-20" id="competenties">
						<h1 class="black">Competenties</h1>
						<div class="box-inner">
							<p>Welke competenties heb je?</p>
							<div class="row">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
									</label>
								</div>
					       </div>
					       <div class="row margin-top-5">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" checked value="option1"> Betrouwbaar
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
									</label>
								</div>
					       </div>
					       <div class="row margin-top-5">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
									</label>
								</div>
					       </div>
					       <div class="row margin-top-5">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3" checked> Zelfstandig
									</label>
								</div>
					       </div>
					       <div class="row margin-top-5">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" checked value="option2"> Flexibel
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
									</label>
								</div>
					       </div>
					       <div class="row margin-top-5">
								<div class="col-lg-12">
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
									</label>
									<label class="col-lg-4 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
									</label>
									<label class="col-lg-3 checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
									</label>
								</div>
					       </div>
					       <div class="row margin-top-15">
						       	<div class="col-lg-12">
						       		<button type="submit" class="btn btn-primary medium-text pull-right notificationSaveMessage1">Wijzigingen opslaan</button>
						       	</div>
					       </div>
						</div>
					</div>
					<div class="well well-olympia" id="talen">
						<h1 class="black">Talen</h1>
						<div class="box-inner">
							<div class="row">
								<div class="col-lg-3">
									<label>Taal</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>N.v.t.</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Matig</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Redelijk</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Goed</label>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-3">
									<label>Engels</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Engels" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Engels" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Engels" value="option3" checked>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Engels" value="option4">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Duits</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Duits" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Duits" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Duits" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Duits" value="option4" checked>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Frans</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Frans" value="option1" checked> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Frans" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Frans" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Frans" value="option4">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Spaans</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Spaans" value="option1" checked> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Spaans" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Spaans" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Spaans" value="option4">
								</div>
							</div>
							<div class="row margin-top-15">
						       	<div class="col-lg-12">
						       		<button type="submit" class="btn btn-primary medium-text pull-right notificationSaveMessage1">Wijzigingen opslaan</button>
						       	</div>
					       </div>
						</div>
					</div>
					<div class="well well-olympia" id="computerkennis">
						<h1 class="black">Computerkennis</h1>
						<div class="box-inner">
							<div class="row">
								<div class="col-lg-3">
									<label>Software</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>N.v.t.</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Matig</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Redelijk</label>
								</div>
								<div class="col-lg-2 text-center">
									<label>Goed</label>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-3">
									<label>Powerpoint</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Powerpoint" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Powerpoint" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Powerpoint" value="option3" checked>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Powerpoint" value="option4">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Excel</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Excel" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Excel" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Excel" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Excel" value="option4" checked>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Word</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Word" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Word" value="option2">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Word" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Word" value="option4" checked>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<label>Access</label>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Access" value="option1"> 
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Access" value="option2" checked>
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Access" value="option3">
								</div>
								<div class="col-lg-2 text-center">
									<input type="radio" name="Access" value="option4">
								</div>
							</div>
							<div class="row margin-top-15">
						       	<div class="col-lg-12">
						       		<button type="submit" class="btn btn-primary medium-text pull-right notificationSaveMessage1">Wijzigingen opslaan</button>
						       	</div>
					       </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	
</body>
</html>