<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn email alerts</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
	<link rel="stylesheet" href="../lib/jqueryTypeahead/jquery.typeahead.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o" onclick="location.href='MijnOlympia-dashboard.html?scrollTo=notification'"></span>
					    	<span class="number">3</span>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="notificationSaveMessage hidden">
		<div class="box">
			<p>Your changes have been saved!</p><span class="olympia olympia-check-circle"></span>
		</div>
	</div>
	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li id="emailAlert"><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li class="active"><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li><a href="https://www.e-flexer.nl/olympia/index.ewb" target="_blank">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container alert-box">
				<div class="well well-olympia">
					<h1>Mijn e-mail alerts</h1>
					<div class="box-inner">
						<p>Je kunt e-mail alerts instellen voor functies en/of locaties waar je graag vacatures van wil ontvangen per e-mail. Je kunt meerdere e-mail alerts instellen en deze individueel aan- of uitzetten. Het bovenste e-mail alert is aangemaakt op basis van je voorkeuren.</p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="label-container">
						<label class="title">E-mail alerts</label>
					</div>
					<div class="box-inner accordion">
						<ul class="accordion-data alerts">
							<li id="1">
								<div class="header">
									<div class="form-group" id="fromTO">
										<div class="switch on">
										    <input class="special-toggle" type="checkbox" name="toggleButton2" id="toggleButton2" checked="checked">
										   	<label for="toggleButton2" onchange="onChangeAlert()">
											    <span></span>
											    <span></span>
										    </label>
										</div>
									</div>
									<div class="job-title" onclick="toggleView(this)">
										<strong id="alertname">(Automatisch) op basis van je voorkeuren</strong >
										<span class="olympia-icon olympia-caret-down pull-right"></span>
									</div>
									
								</div>
								<div class="job-body">
									<ul>
										<li>
											<strong>Functies / trefwoorden:</strong>
											<span id="trefwoorden">Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
										<li>
											<strong>Locatie en afstand:</strong>
											<span id="placeWithDistance">Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li>
											<strong>Uren per week:</strong>
											<span id="weekHour1">32 - 40</span>
										</li>
										<li>
											<strong>Fulltime/parttime:</strong>
											<span id="weekHour1">Fulltime</span>
										</li>
										<li>
											<strong>Dienstverband:</strong>
											<span id="dienstverband1">Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li>
											<strong>Salaris:</strong>
											<span id="salaris1">1600-2000</span>
										</li>
										<li>
											<strong>Werk-en denkniveau:</strong>
											<span id="denkniveau1">MBO</span>
										</li>
										<li>
											<strong>Vakgebied:</strong>
											<span id="vakgebied1">Logistiek</span>
										</li>
										<li>
											<strong>Branche:</strong>
											<span id="branche1">Productie/ Industrie</span>
										</li>
										<li>
											<strong>&nbsp;</strong>
											<span>&nbsp;</span>
										</li>
										<li>
											<strong>Frequentie:</strong>
											<span>1 x per dag</span>
										</li>
									</ul>
									<span class="bewerk"><i class="olympia-icon olympia-edit"></i><a href="MijnOlympia-voorkeuren.html?toggleThis=true">Mijn voorkeuren bewerken</a></span>
								</div>
							</li>
							<li id="2">
								<div class="header">
									<div class="form-group" id="fromTO">
										<div class="switch on">
										    <input class="special-toggle" type="checkbox" name="toggleButton2" id="toggleButton3" checked="checked" onchange="onChangeAlert()">
										   	<label for="toggleButton3">
											    <span></span>
											    <span></span>
										    </label>
										</div>
									</div>
									<div class="job-title"  onclick="toggleView(this)">
										<strong >Logistiek medewerker in Den Haag</strong >
										<span class="olympia-icon olympia-caret-down pull-right"></span>
									</div>
									
								</div>
								<div class="job-body">
									<ul>
										<li class="functies">
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
										<li class="locatie">
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li class="uren">
											<strong>Uren per week:</strong>
											<span id="weekHour1">32 - 40</span>
										</li>
										<li class="fullPartTime">
											<strong>Fulltime/parttime:</strong>
											<span id="weekHour1">Fulltime</span>
										</li>
										<li class="dienstverband">
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li class="salary">
											<strong>Salaris:</strong>
											<span>1500 - 2000</span>
										</li>
										<li class="werkand">
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li class="vakgebied">
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>									
										<li class="branch">
											<strong>Branche:</strong>
											<span>Productie / Industrie</span>
										</li>
										<li>
											<strong>&nbsp;</strong>
											<span>&nbsp;</span>
										</li>
										<li class="frequency">
											<strong>Frequentie:</strong>
											<span>Direct als er een passende vacature is</span>
										</li>
									</ul>
									<span class="bewerk" onclick="editEmailAlert(2)"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">E-mail alert instellingen wijzigen</a></span>
									<span class="bewerk" onclick="deleteThisEmailAlert(this)"><i class="olympia-icon olympia-trash-o"></i><a href="javascript:void(0)">E-mail alert verwijderen</a></span>
								</div>
							</li>
							<li id="3">
								<div class="header">
									<div class="form-group" id="fromTO">
										<div class="switch on">
										    <input class="special-toggle" type="checkbox" name="toggleButton1" id="toggleButton1" onchange="onChangeAlert()">
										   	<label for="toggleButton1">
											    <span></span>
											    <span></span>
										    </label>
										</div>
									</div>
									<div class="job-title" onclick="toggleView(this)">
										<strong >Magazijnmedewerker in Gouda</strong >
										<span class="olympia-icon olympia-caret-down pull-right"></span>
									</div>
									
								</div>
								<div class="job-body">
									<ul>
										<li class="functies">
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
										<li class="locatie">
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li class="uren">
											<strong>Uren per week:</strong>
											<span id="weekHour1">32 - 40</span>
										</li>
										<li class="fullPartTime">
											<strong>Fulltime/parttime:</strong>
											<span id="weekHour1">Fulltime</span>
										</li>
										<li class="dienstverband">
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li class="salary">
											<strong>Salaris:</strong>
											<span>1500 - 2000</span>
										</li>
										<li class="werkand">
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li class="vakgebied">
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>									
										<li class="branch">
											<strong>Branche:</strong>
											<span>Productie / Industrie</span>
										</li>
										<li>
											<strong>&nbsp;</strong>
											<span>&nbsp;</span>
										</li>
										<li class="frequency">
											<strong>Frequentie:</strong>
											<span>Direct als er een passende vacature is</span>
										</li>
									</ul>
									<span class="bewerk" onclick="editEmailAlert(3)"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">E-mail alert instellingen wijzigen</a></span>
									<span class="bewerk" onclick="deleteThisEmailAlert(this)"><i class="olympia-icon olympia-trash-o"></i><a href="javascript:void(0)">E-mail alert verwijderen</a></span>
								</div>
							</li>
							<li id="4">
								<div class="header">
									<div class="form-group" id="fromTO">
										<div class="switch on">
										    <input class="special-toggle" type="checkbox" name="toggleButton4" id="toggleButton4" onchange="onChangeAlert()">
										   	<label for="toggleButton4">
											    <span></span>
											    <span></span>
										    </label>
										</div>
									</div>
									<div class="job-title"  onclick="toggleView(this)">
										<strong >Reachtruckchauffeur in Breda</strong>
										<span class="olympia-icon olympia-caret-down pull-right"></span>
									</div>
									
								</div>
								<div class="job-body">
									<ul>
										<li class="functies">
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
										<li class="locatie">
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li class="uren">
											<strong>Uren per week:</strong>
											<span id="weekHour1">32 - 40</span>
										</li>
										<li class="fullPartTime">
											<strong>Fulltime/parttime:</strong>
											<span>Fulltime</span>
										</li>
										<li class="dienstverband">
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li class="salary">
											<strong>Salaris:</strong>
											<span>1500 - 2000</span>
										</li>
										<li class="werkand">
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li class="vakgebied">
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>									
										<li class="branch">
											<strong>Branche:</strong>
											<span>Productie / Industrie</span>
										</li>
										<li>
											<strong>&nbsp;</strong>
											<span>&nbsp;</span>
										</li>
										<li class="frequency">
											<strong>Frequentie:</strong>
											<span>Direct als er een passende vacature is</span>
										</li>
									</ul>
									<span class="bewerk" onclick="editEmailAlert(4)"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">E-mail alert instellingen wijzigen</a></span>
									<span class="bewerk" onclick="deleteThisEmailAlert(this)"><i class="olympia-icon olympia-trash-o"></i><a href="javascript:void(0)">E-mail alert verwijderen</a></span>
								</div>
							</li>
						</ul>
						
					</div>
					<div class="accordion-button">
						<a href="javascript:void(0)" onclick="emptyTheForm()">Nieuwe e-mail alert maken</a>
					</div>
				</div>
			</div>
			<div class="col-lg-9 right-container voorkeuren-box hidden">
				<div class="well well-olympia">
					<h1>E-mail alert instellingen wijzigen</h1>
					<div class="box-inner">

						<input type="hidden" id="clickedIdparam" />

						<label>Geef deze job alert een naam:</label>
						<div class="form-group">
							<input type="text" class="alertname form-control" placeholder="type hier een naam voor deze alert"/>
						</div>
						<hr>
						<label>Hoe vaak wil je e-mails voor deze alert ontvangen?</label>
						<div class="row emailFreq">
							<div class="col-lg-6">
								<label class="radio-inline">
									<input type="radio" name="emailFreq" id="inlineCheckbox1a" data-values="Direct als er een passende vacature is" value="Direct als er een passende vacature is"> Direct als er een passende vacature is
								</label>
							</div>
							<div class="col-lg-6">
								<label class="radio-inline">
									<input type="radio" name="emailFreq" id="inlineCheckbox1c" data-values="1 x per week" value="1 x per week"> 1 x per week
								</label>
							</div>
							<div class="col-lg-6">
								<label class="radio-inline">
									<input type="radio" name="emailFreq" id="inlineCheckbox1b" data-values="1 x per dag" value="1 x per dag"> 1 x per dag
								</label>
							</div>
							<div class="col-lg-6">
								<label>&nbsp;</label>
							</div>
						</div>
						<div class="row hidden perDay">
							<div class="col-sm-3">
								<select class="form-control" id="timeHour" name="timeHour">
									<option value="0">Uur</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="timeMinutes" name="timeMinutes">
									<option value="0">notulen</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
									<option value="32">32</option>
									<option value="33">33</option>
									<option value="34">34</option>
									<option value="35">35</option>
									<option value="36">36</option>
									<option value="37">37</option>
									<option value="38">38</option>
									<option value="39">39</option>
									<option value="40">40</option>
									<option value="41">41</option>
									<option value="42">42</option>
									<option value="43">43</option>
									<option value="44">44</option>
									<option value="45">45</option>
									<option value="46">46</option>
									<option value="47">47</option>
									<option value="48">48</option>
									<option value="49">49</option>
									<option value="50">50</option>
									<option value="51">51</option>
									<option value="52">52</option>
									<option value="53">53</option>
									<option value="54">54</option>
									<option value="55">55</option>
									<option value="56">56</option>
									<option value="57">57</option>
									<option value="58">58</option>
									<option value="59">59</option>
									<option value="60">60</option>
								</select>
							</div>
						</div>
						<div class="row hidden perWeek">
							<div class="col-sm-3">
								<select class="form-control" id="timeWeekDay" name="timeWeekDay">
									<option value="0">Week</option>
									<option value="maandag">maandag</option>
									<option value="dinsdag">dinsdag</option>
									<option value="woensdag">woensdag</option>
									<option value="donderdag">donderdag</option>
									<option value="vrijdag">vrijdag</option>
									<option value="zaterdag">zaterdag</option>
									<option value="zondag">zondag</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="timeHour" name="timeHour">
									<option value="0">Uur</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
								</select>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="timeMinutes" name="timeMinutes">
									<option value="0">notulen</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
									<option value="32">32</option>
									<option value="33">33</option>
									<option value="34">34</option>
									<option value="35">35</option>
									<option value="36">36</option>
									<option value="37">37</option>
									<option value="38">38</option>
									<option value="39">39</option>
									<option value="40">40</option>
									<option value="41">41</option>
									<option value="42">42</option>
									<option value="43">43</option>
									<option value="44">44</option>
									<option value="45">45</option>
									<option value="46">46</option>
									<option value="47">47</option>
									<option value="48">48</option>
									<option value="49">49</option>
									<option value="50">50</option>
									<option value="51">51</option>
									<option value="52">52</option>
									<option value="53">53</option>
									<option value="54">54</option>
									<option value="55">55</option>
									<option value="56">56</option>
									<option value="57">57</option>
									<option value="58">58</option>
									<option value="59">59</option>
									<option value="60">60</option>
								</select>
							</div>
						</div>

						<hr>
						<label>Naar welke functies/ trefwoorden ben je op zoek?</label>
						<div class="row vacatures">
							<div class="col-lg-12">
								<div class="well well-olympia trefwoorden">
									
								</div>
							</div>
							<div class="col-lg-9">
								<form id="form-country_v1" name="form-country_v1" action="">
								    <div class="typeahead-container">
								        <div class="typeahead-field">
								 
								            <span class="typeahead-query">
								                <input id="trefwoorden_v1-query" name="trefwoorden_v1[query]" type="search" placeholder="type hier een functie of trefwoord waar je naar op zoek bent" autocomplete="off">
								            </span>
								        </div>
								    </div>
								</form>
							</div>
							<div class="col-lg-3 buttons">
								<button type="submit" class="btn btn-primary col-lg-12" id="VoegToetrefwoorden">Voeg toe +</button>
							</div>
						</div>

						<hr>
						<label>Waar zoek je naar vacatures?</label>
						<div class="row vacatures">
							<div class="col-lg-12">
								<div class="well well-olympia placeWithDistance">
									
								</div>
							</div>
							<div class="col-lg-5">
								<form id="form-country_v1" name="form-country_v1" action="">
								    <div class="typeahead-container">
								        <div class="typeahead-field">
								 
								            <span class="typeahead-query">
								                <input id="country_v1-query" name="country_v1[query]" type="search" placeholder="type hier een plaatsnaam of postcode" autocomplete="off">
								            </span>
								            <!-- <span class="typeahead-button">
								                <button type="submit">
								                    <i class="typeahead-search-icon"></i>
								                </button>
								            </span> -->
								        </div>
								    </div>
								</form>

							</div>
							<div class="col-lg-4">
								<label class="afstand">Afstand:</label>
								<select class="form-control distance">
									<option value="5">5 km</option>
									<option value="10">10 km</option>
									<option value="20">20 km</option>
									<option value="30">30 km</option>
									<option selected="selected" value="50">50 km</option>
									<option value="75">75 km</option>
									<option value="100">100 km</option>
									<option value="150">150 km</option>
									<option value="200">200 km</option>
								</select>
							</div>
							<div class="col-lg-3 buttons">
								<button type="submit" class="btn btn-primary col-lg-12" id="VoegToeDistance">Voeg toe +</button>
							</div>
						</div>

						<hr>
						<label>Naar wat voor dienstverband ben je op zoek? (optioneel)</label>
						<div class="row dienstverband">
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" data-values="Avondwerk" value="option1"> Avondwerk
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox2" data-values="Bijbaan" value="option2"> Bijbaan
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox3" data-values="Tijdelijk" value="option3"> Tijdelijk
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox4" data-values="Tijdelijk met uitzicht op vast" value="option4"> Tijdelijk met uitzicht op vast
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox5" data-values="Vast" value="option5"> Vast
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox6" data-values="Vakantiewerk" value="option6"> Vakantiewerk
								</label>
							</div>
						</div>
						
						<hr>
						<label>Hoeveel uren per week ben je beschikbaar? (optioneel)</label>
						<div class="row weekHour">
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox41" data-values="32 - 40" value="option4"> 32 - 40
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox31" data-values="24 - 32" value="option3"> 24 - 32
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox21" data-values="16 - 24" value="option2"> 16 - 24
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox11" data-values="00 - 16" value="option1"> 00 - 16
								</label>
							</div>
						</div>
						<hr>

						<label>Fulltime/parttime? (optioneel)</label>
						<div class="row fullPartTimeJob">
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox41a" data-values="Fulltime" value="option4"> Fulltime
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox41b" data-values="Parttime" value="option3"> Parttime
								</label>
							</div>
						</div>
						<hr>

						<label>Welke branche heeft je voorkeur? (optioneel)</label>
						<div class="row branche">
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox12" data-values="Accountancy" value="Accountancy"> Accountancy
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox22" data-values="Advies / Consultancy" value="Advies / Consultancy"> Advies / Consultancy
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox32" data-values="Afvalverwerking (waste)Agrarisch" value="Afvalverwerking (waste)Agrarisch"> Afvalverwerking (waste)Agrarisch
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox42" data-values="Automatisering / ICT" value="Automatisering / ICT"> Automatisering / ICT
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox52" data-values="Banken / Financiële diensten" value="Banken / Financiële diensten"> Banken / Financiële diensten
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox62" data-values="Bouw / Installatie" value="Bouw / Installatie"> Bouw / Installatie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox72" data-values="Chemische producten / Petro" value="Chemische producten / Petro"> Chemische producten / Petro
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox82" data-values="Detailhandel / Winkel" value="Detailhandel / Winkel"> Detailhandel / Winkel
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox92" data-values="Drukkerijen / Uitgeverijen" value="Drukkerijen / Uitgeverijen"> Drukkerijen / Uitgeverijen
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxA2" data-values="Facility / Schoonmaak / Catering" value="Facility / Schoonmaak / Catering"> Facility / Schoonmaak / Catering
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxB2" data-values="Farmacie" value="Farmacie"> Farmacie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxC2" data-values="Gezondheidszorg / Welzijnssector" value="Gezondheidszorg / Welzijnssector"> Gezondheidszorg / Welzijnssector
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxD2" data-values="Handel / Groothandel" value="Handel / Groothandel"> Handel / Groothandel
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxE2" data-values="Horeca / Recreatie / Reizen" value="Horeca / Recreatie / Reizen"> Horeca / Recreatie / Reizen
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxF2" data-values="Juridisch" value="Juridisch"> Juridisch
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxG2" data-values="Kunst / Cultuur" value="Kunst / Cultuur"> Kunst / Cultuur
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxH2" data-values="Makelaardij / Vastgoed" value="Makelaardij / Vastgoed"> Makelaardij / Vastgoed
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxI2" data-values="Maritiem" value="Maritiem"> Maritiem
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxJ2" data-values="Onderwijs / Opleiding" value="Onderwijs / Opleiding"> Onderwijs / Opleiding
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxK2" data-values="Overheid / Non profit" value="Overheid / Non profit"> Overheid / Non profit
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxL2" data-values="Productie / Industrie" value="Productie / Industrie" > Productie / Industrie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxM2" data-values="Reclame / Communicatie / Media" value="Reclame / Communicatie / Media"> Reclame / Communicatie / Media
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxN2" data-values="Techniek" value="Techniek"> Techniek
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxO2" data-values="Telecommunicatie" value="Telecommunicatie"> Telecommunicatie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxP2" data-values="Transport / Logistiek / Luchtvaart" value="Transport / Logistiek / Luchtvaart" > Transport / Logistiek / Luchtvaart
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxQ2" data-values="Uitzendbureaus / Detachering / W&S" value="Uitzendbureaus / Detachering / W&S"> Uitzendbureaus / Detachering / W&S
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxR2" data-values="Verhuur" value="Verhuur"> Verhuur
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxS2" data-values="Verzekering / Assurantiën" value="Verzekering / Assurantiën"> Verzekering / Assurantiën
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxT2" data-values="Zakelijke dienstverlening" value="Zakelijke dienstverlening"> Zakelijke dienstverlening
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxU2" data-values="Accountancy" value="Accountancy"> Accountancy
								</label>
							</div>
						</div>

						<hr>
						<label>Wat is jouw vakgebied? (optioneel)</label>
						<div class="row vakgebied">
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox13" data-values="Administratief" value="Administratief"> Administratief
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox23" data-values="Advies / Staf / Beleid" value="Advies / Staf / Beleid"> Advies / Staf / Beleid
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox33" data-values="Arbeidsbemiddeling" value="Arbeidsbemiddeling"> Arbeidsbemiddeling
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox43" data-values="Automatisering & ICT" value="Automatisering & ICT"> Automatisering & ICT
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox53" data-values="Beveiliging / Defensie / Politie" value="Beveiliging / Defensie / Politie"> Beveiliging / Defensie / Politie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox63" data-values="Arbeidsbemiddeling" value="Arbeidsbemiddeling"> Arbeidsbemiddeling
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox73" data-values="Bouw" value="Bouw"> Bouw
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox83" data-values="Callcenter / Receptie" value="Callcenter / Receptie"> Callcenter / Receptie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox93" data-values="Commercieel / Verkoop" value="Commercieel / Verkoop"> Commercieel / Verkoop
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxA3" data-values="Directie / Management" value="Directie / Management"> Directie / Management
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxB3" data-values="Financieel" value="Financieel"> Financieel
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxC3" data-values="Financiële dienstverlening" value="Financiële dienstverlening"> Financiële dienstverlening
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxD3" data-values="Horeca / Catering / Detailhandel" value="Horeca / Catering / Detailhandel"> Horeca / Catering / Detailhandel
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxE3" data-values="Juridisch / Bestuurlijk" value="Juridisch / Bestuurlijk"> Juridisch / Bestuurlijk
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxF3" data-values="Logistiek" value="Logistiek"> Logistiek
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxG3" data-values="Marketing / PR / Reclame" value="Marketing / PR / Reclame"> Marketing / PR / Reclame
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxH3" data-values="Medisch / Zorg" value="Medisch / Zorg"> Medisch / Zorg
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxI3" data-values="Onderwijs / Onderzoek" value="Onderwijs / Onderzoek"> Onderwijs / Onderzoek
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxJ3" data-values="Overig" value="Overig"> Overig
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxK3" data-values="P&O / Training / Opleiding" value="P&O / Training / Opleiding"> P&O / Training / Opleiding
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxL3" data-values="Productie & Industrie" value="Productie & Industrie" > Productie & Industrie
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxM3" data-values="Schoonmaak" value="Schoonmaak"> Schoonmaak
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxN3" data-values="Secretarieel" value="Secretarieel"> Secretarieel
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckboxO3" data-values="Techniek" value="Techniek"> Techniek
								</label>
							</div>
						</div>

						<hr>
						<label>Naar welk salaris ben je op zoek? (optioneel)</label>
						<div class="row salaris">
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox11" data-values=">2500" value=">2500"> >2500
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox21" data-values="2000 - 2500" value="2000 - 2500"> 2000 - 2500
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox31" data-values="1500 - 2000" value="1500 - 2000" > 1500 - 2000
								</label>
							</div>
							<div class="col-lg-12">
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox41" data-values="Minimum - 1500" value="Minimum - 1500"> Minimum - 1500
								</label>
							</div>
						</div>

						<hr>
						<label>Wat is je werk- en denkniveau? (optioneel)</label>
						<div class="row denkniveau">
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox16" data-values="Geen voorkeur" value="Geen voorkeur"> Geen voorkeur
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox26" data-values="Mavo" value="Mavo"> Mavo
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox26" data-values="Havo" value="Havo"> Havo
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox36" data-values="HBO" value="HBO"> HBO
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox46" data-values="LBO" value="LBO">LBO
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox16" data-values="MBO" value="MBO" > MBO
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox26" data-values="Ongeschoold" value="Ongeschoold"> Ongeschoold
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox36" data-values="Universitair" value="Universitair"> Universitair
								</label>
							</div>
							<div class="col-lg-6">
								<label class="checkbox-inline">
									<input type="checkbox" name="denkniveau" id="inlineCheckbox46" data-values="VWO" value="VWO">VWO
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row margin-top-15">
							<div class="col-lg-12">
                            	<button type="submit" id="annuleerAlertPage" class="btn btn-default medium-text pull-right">Annuleer</button>
                            	<button type="submit" id="saveVoorkeurenDataAlertPage" class="btn btn-primary medium-text pull-right margin-right-5 notificationSaveMessage1">Wijzigingen opslaan</button>
                            	<button type="submit" id="updateVoorkeurenDataAlertPage" class="btn btn-primary medium-text pull-right hidden margin-right-5 notificationSaveMessage1">Wijzigingen opslaan</button>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- modal popup for Email alert delete -->
	<div class="modal fade margin-top65 overflow-y" id="emailAlertDelete" tabindex="-1" role="dialog" aria-labelledby="emailAlertDelete" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Weet je zeker dat je deze e-mail alert wil verwijderen?</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="DeleteOrNot('ja')">Ja</button>
								<button style="margin: 0 10px 0 0;" type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-hidden="true" onclick="DeleteOrNot('nee')">Nee</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- modal popup for Email alert save -->
	<div class="modal fade margin-top65 overflow-y" id="okSaveIT" tabindex="-1" role="dialog" aria-labelledby="okSaveIT" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Je nieuwe e-mail alerts is aangemaakt en ingeschakeld</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-4">
							</div>
							<div class="col-sm-4">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- modal popup for Email alert update -->
	<div class="modal fade margin-top65 overflow-y" id="okUpdateIT" tabindex="-1" role="dialog" aria-labelledby="okUpdateIT" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Je wijzigingen voor deze e-mail alert zijn opgeslagen</h4>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-4">
							</div>
							<div class="col-sm-4">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../lib/jqueryTypeahead/jquery.typeahead.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript">
		$('#country_v1-query').typeahead({
    	order: "desc",
    	source: {
        	data: [
	            "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda",
	            "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
	            "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
	            "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma",
	            "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad",
	            "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the",
	            "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
	            "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador",
	            "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon",
	            "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea",
	            "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India",
	            "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan",
	            "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos",
	            "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
	            "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
	            "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco",
	            "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger",
	            "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru",
	            "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino",
	            "Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone",
	            "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain",
	            "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan",
	            "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey",
	            "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States",
	            "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe", "Rotterdam", "Den Haag", "1200AB", "1200 AB", "1200 XY"
	       	 ]
	    },
	    callback: {
	        onInit: function (node) {
	            console.log('Typeahead Initiated on ' + node.selector);
	        	}
	    	}
		});

		$('#trefwoorden_v1-query').typeahead({
    	order: "desc",
    	source: {
        	data: [
	            "Heftruckchauffeur", "Magazijnmedewerker", "Lader / losser", "Verhuizer (trefwoord)", "Online marketeer (trefwoord)", "Chauffeur", "Voorraadbeheerder", "Logistiek", "Transport", "Orderpicker"
	       	 ]
	    },
	    callback: {
	        onInit: function (node) {
	            console.log('Typeahead Initiated on ' + node.selector);
	        	}
	    	}
		});
	</script>
	<script type="text/javascript">
		function getParameterByName(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	            results = regex.exec(location.search);
	        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	    }

	    var globalCheck = getParameterByName('globalCheck');
	    var newCheckVariable = globalCheck;
	    
	    if(globalCheck === 'false'){
	    	$.each( $('.alerts li input[type=checkbox]'), function( i, value ) {
			  i++;
			  $('.alerts li:nth-child('+i+') input[type=checkbox]').removeAttr('checked')
			});
	    	newCheckVariable = false;
	    }else if(globalCheck === 'true'){
	    	$.each( $('.alerts li input[type=checkbox]'), function( i, value ) {
	    	  i++;
			  $('.alerts li:nth-child('+i+') input[type=checkbox]').attr('checked', true);;
			});
			newCheckVariable = true;
	    }
	    $('#emailAlert a').prop('href', 'MijnOlympia-dashboard.html?globalCheck='+newCheckVariable);
	    function onChangeAlert(){
	    	var listToPass = '';
	    	$.each( $('.alerts li input[type=checkbox]'), function( i, value ) {
	    		i++;
	    		var dummy = $('.alerts li:nth-child('+i+') input[type=checkbox]').prop('checked')
			  	newCheckVariable = false || dummy;
			  	if(newCheckVariable == false){
			  		listToPass = listToPass + 0;
			  	}else if(newCheckVariable == true){
			  		listToPass = listToPass + 1;
			  	}
			});
			$('#emailAlert a').prop('href', 'MijnOlympia-dashboard.html?globalCheck='+listToPass);
	    }			
	    
	    var toggleThis = getParameterByName('toggleThis')
	    if(toggleThis == 'true'){
	   		$(".voorkeuren-box").removeClass('hidden');
			$(".alert-box").addClass('hidden'); 	
	    }




		//to scroll to a point on the screen where user clicked
		$.fn.scrollView = function (offsetValue) {
		    return this.each(function () {
		        $('html, body').animate({
		            scrollTop: $(this).offset().top - offsetValue
		        }, 1000);
		    });
		}

	    var clickedValue = getParameterByName('clickedvalue');
	    $('#'+clickedValue).addClass('show');
	    $('#'+clickedValue).scrollView('10');

	    $('.alerts input[type=checkbox]').on('change', function(){
	    	if($(this).prop('checked')){
	    		$(this).closest('.switch').find('label').prop('title', 'Deze alert is ingeschakeld, klik de knop om deze alert uit te schakelen');
	    	}else{
	    		$(this).closest('.switch').find('label').prop('title', 'Deze alert is uitgeschakeld, klik de knop om deze alert in te schakelen');
	    	}
	    })
	    $('.alerts input[type=checkbox]').trigger('change');
	</script>
</body>
</html>