<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn Olympia - Mijn ervaring en CV</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class="col-sm-8 well well-sm pull-right login" style="background: #fff; margin-top: 20px; margin-bottom: 0px; padding: 5px;">
					<div class="row low-gutter row-low-gutter-main">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" style="margin-bottom: 8px">
										<input class="form-control input-sm input-extra-sm height" type="text">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group" style="margin-bottom: 8px">
										<input class="form-control input-sm input-extra-sm height" type="password">
									</div>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-info btn-sm btn-block pull-right input-extra-sm padding" data-toggle="modal" data-target="#myModal">Login</button>
								</div>

							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="checkbox" style="margin-top: 0; margin-bottom: 0;">
										<label>
											<input type="checkbox"> <a class="link-in-text" href="#">Onthoud mijn innologgegeven</a>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<a href="#" class="link-in-text" data-toggle="modal" data-target="#forgot-pass">Wachtwoord vergeten</a>
								</div>
							</div>
							
						</div>
						<div class="col-sm-3 border-left">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p style="font-size: 11px;">Of log in met</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center icons-img">
									<a href="#" title="Deel via Facebook" class="facebook"></a>
									<a href="#" title="Deel via Linked in" class="linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek werk</a>
						<ul>
							<li>
								<a href="/Vacatures" class="title">Alle vacatures</a>
							</li>
							<li>
								<a href="/vacaturesperbranche" class="title">Vacatures per branche</a>
							</li>
							<li>
								<a href="/werkgevers" class="title">Vacatures bij topbedrijven</a>
							</li>
							<li>
								<a href="/Registration/RegisterIntro" class="title">Direct inschrijven bij Olympia</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek personeel</a>
						<ul>
							<li>
								<a href="/voorendoorondernemers" class="title">Voor en door ondernemers</a>
							</li>
							<li>
								<a href="http://www.olympia.nl/toptalent" target="_blank" class="title">ONZE VISIE OP TOPTALENT</a>
							</li>
							<li>
								<div class="title">Onze diensten</div>
								<ul>
									<li>
										<a href="/onzediensten/uitzenden" class="title">Uitzenden</a>
									</li>
									<li>
										<a href="/payrollservice" class="title">Payroll service</a>
									</li>
									<li>
										<a href="/wervingenselectie" class="title">Werving en selectie</a>
									</li>
									<li>
										<a href="/mastervendorservice" class="title">Master vendor service</a>
									</li>
									<li>
										<a href="/inhouseservice" class="title">Inhouse Service</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/vacatureplaatsen" class="title">Vacature aanmelden</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau?radius=25" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Over Olympia</a>
						<ul>
							<li>
								<a href="/welovetoworkforyou" class="title">We love to work for you</a>
							</li>
							<li>
								<a href="http://www.ondernemenbijolympia.nl" target="_blank" class="title">Ondernemer worden?</a>
							</li>
							<li>
								<a href="/contact" class="title">Contact</a>
							</li>
						</ul>
					</li>
					<li class="current">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-persoonlijke-gegevens.html">Mijn persoonlijke gegevens</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li class="active"><a href="javascript:void(0)">Mijn ervaring &amp; CV</a></li>
									<li><a href="MijnOlympia-voorkeuren-alerts.html">Mijn voorkeuren &amp; alerts</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>21</span>)</a></li>
									<li><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="progress-container">
								<label>Compleetheid profiel <span>60%</span></label> 
								<div class="progress" style="margin-bottom: 0px;">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
							<div class="profile-data">
								<label class="title">Aanbevolen voor jou:</label>
								<ul>
									<li>Update je CV<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container cv">
				<div class="well well-olympia">
					<h1>Ervaring &amp; Opleiding</h1>
					<div class="box-inner">
						<p>Houd hier je CV up to date door een bestand te uploaden of door een CV op onze site aan te maken. Dit kan je handmatig doen, of door het importeren van je Linkedin gegevens. Mocht je nog iets willen toelichten over je CV, dan kan dat onderaan de pagina. Heb je nog verdere vragen over wat we over je ervaring en opleiding willen weten? Neem dan <a href="javascript:void(0)">contact</a> met ons op.</p>
						<p>Kijk ook naar <a href="javascript:void(0)">tips voor een goed CV</a> en een <a href="javascript:void(0)">template</a> om je CV-bestand aan te maken</p>
					</div>
				</div>
				<div class="well well-olympia">
					<h1>Jouw CV</h1>
					<div class="box-inner accordion">
						<ul class="accordion-data">
							<li class="show">
								<div class="header" onclick="toggleView(this)">
									<div class="job-title">
										<strong>CV-bestand</strong>
										<strong class="pull-right"><span class="olympia-caret-down olympia-icon pull-right"></span></strong >
									</div>
								</div>
								<div class="job-body">
									<p><a href="../data/CV_Henk_van_Dunzelkamp_10-03-2015.pdf">CV_Henk_van_Dunzelkamp_10-03-2015.pdf</a><a class="pull-right" href="javascript:void(0)">Verwijderen</a></p>
								</div>
							</li>
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="job-title">
										<strong>Handmatig aangemaakt CV</strong>
										<strong class="pull-right"><span class="olympia-caret-down olympia-icon pull-right"></span></strong >
									</div>
								</div>
								<div class="job-body">
									<p>Let op: maak alleen handmatig een CV aan wanneer je niet beschikt over een CV-bestand!</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="well well-olympia">
					<h1>Competenties</h1>
					<div class="box-inner">
						<p>Welke competenties heb je?</p>
						<div class="row">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
								</label>
							</div>
				       </div>
				       <div class="row margin-top-5">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" checked value="option1"> Betrouwbaar
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
								</label>
							</div>
				       </div>
				       <div class="row margin-top-5">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
								</label>
							</div>
				       </div>
				       <div class="row margin-top-5">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3" checked> Zelfstandig
								</label>
							</div>
				       </div>
				       <div class="row margin-top-5">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" checked value="option2"> Flexibel
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
								</label>
							</div>
				       </div>
				       <div class="row margin-top-5">
							<div class="col-lg-12">
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> not selected
								</label>
								<label class="col-lg-4 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option2"> not selected
								</label>
								<label class="col-lg-3 checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option3"> not selected
								</label>
							</div>
				       </div>
				       <div class="row margin-top-15">
					       	<div class="col-lg-12">
					       		<button type="submit" class="btn btn-primary medium-text pull-right">Wijzigingen opslaan</button>
					       	</div>
				       </div>
					</div>
				</div>
				<div class="well well-olympia">
					<h1>Talen</h1>
					<div class="box-inner">
						<div class="row">
							<div class="col-lg-3">
								<label>Taal</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>N.v.t.</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Matig</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Redelijk</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Goed</label>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-3">
								<label>Engels</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Engels" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Engels" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Engels" value="option3" checked>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Engels" value="option4">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Duits</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Duits" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Duits" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Duits" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Duits" value="option4" checked>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Frans</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Frans" value="option1" checked> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Frans" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Frans" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Frans" value="option4">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Spaans</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Spaans" value="option1" checked> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Spaans" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Spaans" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Spaans" value="option4">
							</div>
						</div>
						<div class="row margin-top-15">
					       	<div class="col-lg-12">
					       		<button type="submit" class="btn btn-primary medium-text pull-right">Wijzigingen opslaan</button>
					       	</div>
				       </div>
					</div>
				</div>
				<div class="well well-olympia">
					<h1>Computerkennis</h1>
					<div class="box-inner">
						<div class="row">
							<div class="col-lg-3">
								<label>Software</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>N.v.t.</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Matig</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Redelijk</label>
							</div>
							<div class="col-lg-2 text-center">
								<label>Goed</label>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-3">
								<label>Powerpoint</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Powerpoint" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Powerpoint" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Powerpoint" value="option3" checked>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Powerpoint" value="option4">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Excel</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Excel" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Excel" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Excel" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Excel" value="option4" checked>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Word</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Word" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Word" value="option2">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Word" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Word" value="option4" checked>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<label>Access</label>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Access" value="option1"> 
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Access" value="option2" checked>
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Access" value="option3">
							</div>
							<div class="col-lg-2 text-center">
								<input type="radio" name="Access" value="option4">
							</div>
						</div>
						<div class="row margin-top-15">
					       	<div class="col-lg-12">
					       		<button type="submit" class="btn btn-primary medium-text pull-right">Wijzigingen opslaan</button>
					       	</div>
				       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>/
</html>