<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Sollicitatiegesprek check-list</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
	<link rel="stylesheet" href="../lib/jqueryTypeahead/jquery.typeahead.css"/>
	<link rel="stylesheet" href="../lib/slick-1.5.9/slick/slick.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o"></span>
					    	<span class="number">3</span>
					    	<div class="notificationBalloon hidden">
					    		<ul>
					    			<li>
					    				<a href="MijnOlympia-suggesties.html">3 nieuwe vacature suggesties</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Magazijnmedewerker(m/v)</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Fulltime orderpicker</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-suggesties.html">3 nieuwe vacature suggesties</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Magazijnmedewerker(m/v)</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-notificaties.html">Bekijk alle notificaties</a>
					    			</li>
					    		</ul>
					    	</div>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="notificationSaveMessage hidden">
		<div class="box">
			<p>Je wijzigingen zijn opgeslagen!</p><span class="olympia olympia-check-circle"></span>
		</div>
	</div>
	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li class="mijnSubmenu" id="mijnCV">
										<a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a>
										<div class="submenu in">
											<ul>
												<li><a href="MijnOlympia-cv-tips.html">CV tips</a></li>
												<li class="subActive"><a href="MijnOlympia-sollicitatiegesprek-checklist.html?in=cv">Sollicitatiegesprek check list</a></li>
											</ul>
										</div>
									</li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li class="mijnSubmenu" id="mijnSollocitaties">
										<a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a>
										<div class="submenu">
											<ul>
												<li><a href="MijnOlympia-sollicitatiegesprek-checklist.html?in=sollicitatie">Sollicitatiegesprek check list</a></li>
											</ul>
										</div>
									</li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="mijnSubmenu">
										<a href="MijnOlympia-competenties.html">Mijn competenties</a>
										<div class="submenu">
											<ul>
												<li><a href="MijnOlympia-contact-center-experience.html">Contact center experience</a></li>
												<li><a href="MijnOlympia-warehouse-experience.html">Warehouse experience</a></li>
												<li><a href="MijnOlympia-procesoperator-experience.html">Procesoperator experience</a></li>
											</ul>
										</div>
									</li>
									<li><a href="https://www.e-flexer.nl/olympia/index.ewb" target="_blank">Mijn administratie</a></li>
								</ul>
							</div>
							
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container cv topLink">
				<div class="navbar-secondary translate-up" id="secondary-navigation">
			        <ul class="navigation">
			          <li><a href="#" name="document">Terug naar boven</a></li>
			        </ul>
			    </div>
				<div class="well well-olympia">
					<h1>Sollicitatiegesprek check-list</h1>
					<div class="box-inner">
						<p>Goed voor de dag komen, jezelf uitstekend presenteren en een vlot lopend sollicitatiegesprek. Het belangrijkste begrip om dat voor elkaar te krijgen is: voorbereiding! </p>
						<p>Hoe verkoop en presenteer je jezelf en hoe kom je over bij de werkgever? Het aantrekken van mooie kleding valt in het niet als je je niet verdiept hebt in de organisatie.</p>
						<p>Hieronder lees je hoe jij je kunt voorbereiden op je sollicitatiegesprek.</p>
					</div>
				</div>
				<div class="well well-olympia tips">
					<h1 class="black"><span></span>Sollicitatiegesprek check-list</h1>
					<div class="box-inner accordion">
						<div class="form-group tipsC">
							<div class="tips-heading">
								<span><a href="javascript:void(0)" data-title="bepaal">Bepaal je doelen</a></span><span> - </span><span><a href="javascript:void(0)" data-title="vergaar">Vergaar informatie</a></span><span> - </span><span><a href="javascript:void(0)" data-title="oefen">Oefen het gesprek</a></span><span> - </span><span><a href="javascript:void(0)" data-title="spanning">Spanning is normaal</a></span><span> - </span><span><a href="javascript:void(0)" data-title="uiterlijke">Uiterlijke verzorging</a></span>
							</div>
							<hr>
							<div class="tips-description">
								<div id="bepaal">
									<label>Bepaal je doelen</label>
									<p>Een sollicitatiegesprek is een momentopname waarin het voor je potentiële werkgever duidelijk moet worden of jij de geschikte persoon bent voor de functie, maar ook waarin jij moet bepalen of/ waarom de werkzaamheden en het bedrijf aansluiten bij jouw capaciteiten, vaardigheden en wensen. In een kort tijdsbestek moet je er dus voor zorgen dat je je eigen bijdrage in het gesprek zo goed mogelijk vorm geeft.</p>
								</div>
								<br>
								<div id="vergaar" class="listing">
									<label>Vergaar informatie</label>
									<p>Je toekomstige werkgever moet tijdens het sollicitatiegesprek achterhalen of je geschikt bent voor de functie en of je bij het bedrijf past. Daarnaast zul ook jij moet weten of de organisatie en de functie is wat je wilt.</p>
									<p>Probeer tijdens het sollicitatiegesprek op een aantal vragen antwoord te krijgen. Het zijn geen vragen die je letterlijk aan je potentiële werkgever voorlegt, maar ze helpen je om naderhand te analyseren of de baan en het bedrijf zijn wat je zoekt:</p>
									<ul>
										<li><span>Beschik ik over de juiste capaciteiten en vaardigheden om deze functie goed te kunnen vervullen?</span></li>
										<li><span>Krijg ik voldoende ruimte en mogelijkheden om mezelf te ontwikkelen?</span></li>
										<li><span>Pas ik bij de organisatie?</span></li>
									</ul>
									<p>In elk sollicitatiegesprek krijg je de mogelijkheid om zelf vragen te stellen. Maak altijd gebruik van deze mogelijkheid. Dit toont dat je interesse hebt in de organisatie en dat je er vooraf over nagedacht hebt.</p>
								</div>
								<br>
								<div id="oefen">
									<label>Oefen het gesprek</label>
									<p>Oefen je gesprek altijd met iemand die je vertrouwd (vriend, vriendin, ouder) en probeer het gesprek zo echt mogelijk na te bootsen (inclusief de moeilijke vragen). Een sollicitatiegesprek heb je niet elke dag en het is logisch dat je er tegenop ziet.</p>
									<p>Probeer ook je oefengesprek op video op te nemen. Op die manier kun je niet alleen je antwoorden later nogmaals terugkijken maar ook je lichaamstaal analyseren.</p>
									<p>Let goed op je houding (zit je rechtop? Friemel niet aan je haar) en probeer je antwoorden kort en bondig te formuleren. Zorg ervoor dat je ondervragen je niet hoeft terug te fluiten als je te diep ingaat op een bepaald onderwerp. Zorg wel dat je niet alleen met “ja” of “nee” antwoord.</p>
								</div>
								<br>
								<div id="spanning">
									<label>Spanning is normaal</label>
									<p>Realiseer je dat werkgevers het vaak niet erg vinden als je gespannen bent. Dit is ook een teken dat de baan belangrijk voor je is. Het getuigt van desinteresse of arrogantie wanneer je niet gespannen bent en er daardoor misschien wat nonchalant bij zit.</p>
									<p>Ook is spanning goed om te kunnen preseteren. De adrenaline zorgt ervoor dat je concentratie verscherpt waardoor je beter kunt luisteren en scherper kunt antwoorden.</p>
								</div>
								<br>
								<div id="uiterlijke" class="listing">
									<label>Uiterlijke verzorging</label>
									<p>Als je gaat solliciteren, wordt het over het algemeen wel gewaardeerd dat je aandacht besteedt aan je uiterlijk. Zo maak je duidelijk dat je moeite doet om een goede indruk te maken en dat de baan waar je op solliciteertbelangrijk voor je is.</p>
									<ul>
										<li><span>Stem je kleding af op de bedrijfscultuur en de functie. Als je solliciteert naar een leidinggevende functie bij een financiële instelling en op het sollicitatiegesprek verschijnt in een vale spijkerbroek met dito t-shirt, dan kun je de baan wel op je buik schrijven.</span></li>
										<li><span>Probeer in te schatten of te achterhalen welke dresscode de organisatie heeft. Ga bijvoorbeeld eens posten bij het bedrijf en observeer de kleding van de mensen die er werken. Als je twijfelt, kun je je beter te formeel dan te informeel kleden.</span></li>
										<li><span>Zorg ervoor dat je je prettig voelt in de kleding die je aantrekt. Dit sterkt je in je zelfvertrouwen. Trek dus geen rok aan als je er diep ongelukkig van wordt. Vast en zeker dat je dat ook uitstraalt.</span></li>
									</ul>
									<p>Let erop dat je kleding passend, schoon, heel en vrij van kreukels is. Let op de details:</p>
									<ul>
										<li><span>Besteed aandacht aan je schoenen. De keuze van de schoenen is een detail waar wel eens te weinig aandacht aan wordt geschonken, maar schoenen breken of maken je outfit. Zorg ervoor dat je schoenen niet alleen wat betreft kleur, maar ook wat betreft vorm passen bij het soort kleding dat je aantrekt en zorg ook dat ze er verzorgd uitzien. Dus geen bruine schoenen onder een blauw kostuum of gezondheidssandalen onder een kekke rok.</span></li>
										<li><span>Draag je nieuwe kleding of schoenen, controleer dan goed of je alle prijskaartjes en/of -stickers hebt verwijderd.</span></li>
										<li><span>Voorkom dat je een wandelende kerstboom bent. Liever één mooi sieraad dat opvalt, dan veel te veel waardoor het potsierlijk wordt.</span></li>
										<li><span>Besteed aandacht aan zaken die je meeneemt, zoals je tas of je koffer, je schrijfgerei en je blocnote. Deze moeten verzorgd zijn en niet versleten, afgekloven of volgekalkt.</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../lib/jqueryTypeahead/jquery.typeahead.js"></script>
	<script src="../lib/slick-1.5.9/slick/slick.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript">
		function getParameterByName(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	            results = regex.exec(location.search);
	        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	    }
		$(document).ready(function(){
			$('.tips-heading span a').on('click', function(){
				var getTheID = $(this).data('title');
				$("#"+getTheID).scrollView(20);
			})
	    });
	    
	    var fromTo = getParameterByName('in')
	    if(fromTo == 'cv'){
	    	removeDefaultValues();
	    	$('#mijnCV').find('.submenu').addClass('in');
	    	$('#mijnCV').find('.submenu').addClass('in');
	    	$('#mijnCV > a').addClass('activeX');
	    	$('#mijnCV li:last-child').addClass('subActive');
	    }else if(fromTo == "sollicitatie"){
	    	removeDefaultValues();
	    	$('#mijnSollocitaties').find('.submenu').addClass('in');
	    	$('#mijnSollocitaties > a').addClass('activeX');
	    	$('#mijnSollocitaties li:last-child').addClass('subActive');
	    }

	   	function removeDefaultValues(){
	   		$('.mijnSubmenu').each(function(){
	   			$(this).removeClass('active');
	   			$(this).find('.submenu').removeClass('in');
	   			$(this).find('.submenu li').removeClass('subActive');
	   		})
	   	} 
	</script>
</body>/
</html>