<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn dashboard</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom Henk Van Dunzelkamp</span></div>

					        <div class="profile">
					            <a href="javascript:void(0)"> › mijn profiel</a> 
					            <a href="javascript:void(0)"> › uitloggen</a>
					            <a href="javascript:void(0)"> › stel een vraag</a>
					        </div>
					    </div>

					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek werk</a>
						<ul>
							<li>
								<a href="/Vacatures" class="title">Alle vacatures</a>
							</li>
							<li>
								<a href="/vacaturesperbranche" class="title">Vacatures per branche</a>
							</li>
							<li>
								<a href="/werkgevers" class="title">Vacatures bij topbedrijven</a>
							</li>
							<li>
								<a href="/Registration/RegisterIntro" class="title">Direct inschrijven bij Olympia</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek personeel</a>
						<ul>
							<li>
								<a href="/voorendoorondernemers" class="title">Voor en door ondernemers</a>
							</li>
							<li>
								<a href="http://www.olympia.nl/toptalent" target="_blank" class="title">ONZE VISIE OP TOPTALENT</a>
							</li>
							<li>
								<div class="title">Onze diensten</div>
								<ul>
									<li>
										<a href="/onzediensten/uitzenden" class="title">Uitzenden</a>
									</li>
									<li>
										<a href="/payrollservice" class="title">Payroll service</a>
									</li>
									<li>
										<a href="/wervingenselectie" class="title">Werving en selectie</a>
									</li>
									<li>
										<a href="/mastervendorservice" class="title">Master vendor service</a>
									</li>
									<li>
										<a href="/inhouseservice" class="title">Inhouse Service</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/vacatureplaatsen" class="title">Vacature aanmelden</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau?radius=25" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Over Olympia</a>
						<ul>
							<li>
								<a href="/welovetoworkforyou" class="title">We love to work for you</a>
							</li>
							<li>
								<a href="http://www.ondernemenbijolympia.nl" target="_blank" class="title">Ondernemer worden?</a>
							</li>
							<li>
								<a href="/contact" class="title">Contact</a>
							</li>
						</ul>
					</li>
					<li class="current">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label>Compleetheid profiel <span>60%</span></label> 
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title addresses">Persoonsgegevens</label>
								<ul>
									<li class="address">Henk van Dunzelkamp</li>
									<li class="city">Amersfoort</li>
									<li class="phone">06-35792468</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="sub-title">E-mail: </label>
								<p>henk.van.dunzelamp@outlook.com</p>
								<label class="sub-title">Wachtwoord </label>
								<p><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span><span class="olympia-circle"></span></p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<button class="btn btn-primary" onclick="window.location.href='MijnOlympia-persoonlijke-gegevens.html'">Wijzigen</button>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data cv">
								<label class="title addresses">Mijn ervaring &amp; CV</label>
								<ul>
									<li>
										<label class="sub-title">Mijn meest recente opleiding:</label>
										<p>MBO, Rotterdam college</p>
									</li>
									<li>
										<label class="sub-title">Mijn meest recente werkervaring:</label>
										<p>Heftruckchauffeur, Philips BV</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<button class="btn btn-primary" onclick="window.location.href='MijnOlympia-ervaring-cv.html'">Wijzigen</button>
							</div>
						</div>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li class="active"><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>21</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li class="hidden"><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container">
				<div class="well well-olympia">
					<h1>Goedemiddag Henk!</h1>
					<div class="box-inner">
						<p>Welkom op je MijnOlympia account. Je laatste bezoek was op dinsdag 23 maart 2015 om 19:34.</p>
						<hr>
						<label class="title black">Ben je momenteel op zoek naar werk?</label><span class="pull-right bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="MijnOlympia-voorkeuren.html?voorkeurenModal=true">Bewerken</a></span>
						<p>Ja, ik ben momenteel op zoek naar werk. Ik ben beschikbaar vanaf 01-06-2015 tot en met 03-08-2015 en heb geen opzegtermijn.</p>
						<hr>
						<p>Olympia helpt je graag bij het zoeken naar een baan. Zorg er dus voor dat je gegevens altijd up to date zijn. Op die manier kan Olympia jou nog beter van dienst zijn.</p>
						<div class="row">
							<div class="col-lg-4 text-center"><a href="MijnOlympia-account.html">Bewerk persoonlijke gegevens &gt;</a></div>
							<div class="col-lg-4 text-center"><a href="MijnOlympia-voorkeuren.html">Bewerk voorkeuren &gt;</a></div>
							<div class="col-lg-4 text-center"><a href="MijnOlympia-cv-ervaring.html">Bewerk ervaring &amp; CV &gt;</a></div>
						</div>
					</div>
				</div>
				<div class="well well-olympia sollicitaties">
					<h1 class="black">Mijn sollicitaties</h1>
					<div class="box-inner">
						<div class="row">
							<div class="col-lg-12 text-center">
								<label>Vandaag<br>08-06-2015</label><br>
								<i class="olympia-icon olympia-map-marker"></i>
							</div>
							<div class="col-lg-12 solid-line">
								<ul>
									<li>
										<div class="heading">
											<strong>Magazijnmedewerker (m/v)</strong>
											<strong class="pull-right">81 anderen solliciteerden op deze functie</strong>
										</div>
										<div class="job-description">
											<div class="row">
												<div class="box pre box1" style="margin-left: 40px;">
													<label>1. sollicitatie verstuurd<br><span>09-04-2015</span></label>
												</div>
												<div class="box center">
													<label>2. geaccepteerd/ afgewezen<br><span>verwacht: 20-04-2015</span></label>
												</div>
												<div class="box post">
													<label>3. voorgesteld werkgever<br><span>verwacht: 24-04-2015</span></label>
												</div>
												<div class="box post box1">
													<label>4. eerste werkdag<br><span>verwacht: 04-05-2015</span></label>
												</div>
											</div>
										</div>
										<hr>
									</li>
									<li>
										<div class="heading">
											<strong>Fulltime orderpicker</strong>
											<strong class="pull-right">9 anderen solliciteerden op deze functie</strong>
										</div>
										<div class="job-description">
											<div class="row">
												<div class="box pre box1">
													<label>1. sollicitatie verstuurd<br><span>08-04-2015</span></label>
												</div>
												<div class="box pre">
													<label>2. geaccepteerd<br><span>14-04-2015</span></label>
												</div>
												<div class="box center">
													<label>3. voorgesteld werkgever<br><span>verwacht: 24-04-2015</span></label>
												</div>
												<div class="box post box1">
													<label>4. eerste werkdag<br><span>verwacht: 04-05-2015</span></label>
												</div>
											</div>
										</div>
										<hr>
									</li>
									<li>
										<div class="heading">
											<strong>Heftruckchauffeur (m/v)</strong>
											<strong class="pull-right">44 anderen solliciteerden op deze functie</strong>
										</div>
										<div class="job-description">
											<div class="row">
												<div class="box pre-rejected box1">
													<label>1. sollicitatie verstuurd<br><span>08-04-2015</span></label>
												</div>
												<div class="box pre-rejected">
													<label>2. afgewezen<br><span>14-04-2015</span></label>
												</div>
											</div>
										</div>
										<hr>
									</li>
								</ul>
							</div>
							<div class="text-center"><a href="MijnOlympia-sollicitaties.html">Alle sollicitaties</a></div>
						</div>
					</div>
				</div>
				<div class="well well-olympia">
					<h1 class="black">Suggesties op basis van jouw voorkeuren</h1>
					<div class="box-inner">
						<div class="text-right"><strong>Match</strong> &nbsp;<a id="tooltip6" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Match" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a></div>
						<ul>
							<li>
								<hr>
								<div class="job-title">
									<strong>Magazijnmedewerker, HEMA, Woerden</strong>
									<strong class="pull-right">Jouw match met deze vacature: 95%</span></strong>
								</div>
								<hr>
							</li>
							<li>
								<div class="job-title">
									<strong>Orderpicker, Cool Blue, Tilburg</strong>
									<strong class="pull-right">Jouw match met deze vacature: 90%</strong >
								</div>
								<hr>
							</li>
							<li>
								<div class="job-title">
									<strong>Parttime logistiek medewerker, Kruidvat, Naaldwijk</strong>
									<strong class="pull-right">Jouw match met deze vacature: 90%</strong >
								</div>
								<hr>
							</li>
							<li>
								<div class="job-title">
									<strong>Warehouse supervisor, DHL, Leiden</strong>
									<strong class="pull-right">Jouw match met deze vacature: 90%</strong >
								</div>
								<hr>
							</li>
						</ul>
						<div class="text-center"><a href="MijnOlympia-suggesties.html">Alle suggesties</a></div>
					</div>
				</div>
				<div class="well well-olympia orange-well">
					<h1 class="black">Vacatures zoeken</h1>
					<div class="box-inner">
						<div class="row">
							<div class="col-sm-4 input-box">
								<label>Functie / trefwoord</label>
								<input type="text" class="form-control" placeholder="Functie / trefwoord"/>
							</div>
							<div class="col-sm-4 input-box">
								<label>Postcode / plaats</label>
								<input type="text" class="form-control" placeholder="Postcode / plaats"/>
							</div>
							<div class="col-sm-4">
								<label>Afstand</label>
								<select class="form-control">
									<option value="5">5 km</option>
									<option value="10">10 km</option>
									<option value="20">20 km</option>
									<option value="30">30 km</option>
									<option selected="selected" value="50">50 km</option>
									<option value="75">75 km</option>
									<option value="100">100 km</option>
									<option value="150">150 km</option>
									<option value="200">200 km</option>
								</select>
								<button type="submit" class="btn btn-primary"><i class="olympia-search"></i>Zoeken</button>
								<a href="javascript:void(0)" class="pull-right">Uitgebreid zoeken &gt;</a>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-6 half-box">
							<label class="title">Vacatures per mail</label>
							<a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacatures per mail" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a>
							<p>Stuur mij relevante vacatures op basis van mijn profiel per e-mail wanneer deze worden toegevoegd op de site.<br>&nbsp;</p>
							<p class="margin-bottom-0">Frequentie: <span>3x per week</span><span class="pull-right bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span></p>
						</div>
						<div class="col-lg-6 half-box last-box">
							<label class="title">Contact met intercedent</label>
							<a id="tooltip2" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Contact met intercedent" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu." style="cursor: pointer;"><i class="olympia-info3"></i></a>
							<p>Een Olympia intercedent kan mij bij een geschikte vacature op de volgende manieren bereiken:</p>
							<p class="margin-bottom-0">
								<span>E-mail</span>
								<br><span>Bellen (na 15:00)</span>
								<br><span>SMS'en</span>
								<span class="pull-right bewerk"><i class="olympia-icon olympia-edit"></i>&nbsp;<a href="javascript:void(0)">Bewerken</a></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>