<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn suggesties</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o" onclick="location.href='MijnOlympia-dashboard.html?scrollTo=notification'"></span>
					    	<span class="number">3</span>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-cv-ervaring.html">Mijn CV &amp; ervaring</a></li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li class="active"><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li class="hidden"><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container suggestie topLink">
				<div class="navbar-secondary translate-up" id="secondary-navigation">
			        <ul class="navigation">
			          <li><a href="#" name="document">Terug naar boven</a></li>
			        </ul>
			    </div>
				<div class="well well-olympia">
					<h1>Mijn suggesties</h1>
					<div class="box-inner accordion">
						<p>Dagelijks komen er veel nieuwe vacatures bij op Olympia.nl. Hieronder hebben we een lijst samengesteld van vacatures die het best matchen met jouw voorkeuren. Je kunt je voorkeuren aanpassen in de Mijn voorkeuren sectie van je Mijn Olympia account om zoveel mogelijk relevante suggesties te ontvangen.</p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="box-inner accordion">
						<div class="tabs">
							<div class="left-tab active">
								<span>Toon alle suggesties</span>
							</div>
							<div class="right-tab">
								<span>Toon mijn favorieten</span>
							</div>
						</div>
						<div class="data">
							<div class="left-tab-data">
								<div class="actualData">
									<ul>
										<li class="well well-olympia hidden" id="1">
											<div class="heading">
												<h4><a href="../pages/Met_spoed_op_zoek_naar_magazijnkrachten!.html" target="_blank" class="favourite">Met spoed op zoek naar magazijnkrachten!</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Amersfoort | Fulltime | 40 uur | MAVO werk- en denkniveau</strong>
													<span class="pull-right">22 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<p><span>Zoek jij een ondersteunende functie binnen een klein en gezellig team met enthousiaste collega's? Vind jij het leuk om zorg te dragen voor het inpakken van producten en het up-to-date houden van de voorraad? Zie jij een uitdaging in het verwerken van webwinkelbestellingen? Solliciteer dan op deze functie van junior logistiek medewerker!</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Met spoed op zoek naar magazijnkrachten!.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="2">
											<div class="heading">
												<h4><a href="../pages/Gestopt_met_je_studie.html" target="_blank" class="favourite">Gestopt met je studie?</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Amersfoort | Fulltime | 40 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">21 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<p><span>Heb jij gekozen voor een tussenjaar, de verkeerde studiekeuze gemaakt of net afgestudeerd? Dan ben je bij ons aan het juiste adres. Wij krijgen regelmatig vacatures binnen voor tijdelijke, maar ook vaste functies. Hierbij kun je denken aan functies als magazijnmedewerker, productiemedewerker, administratief medewerker of commercieel medewerker. Mocht je voor dergelijke functies in aanmerking willen komen, dan vragen wij je om te solliciteren op deze vacature.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Gestopt_met_je_studie.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="3">
											<div class="heading">
												<h4><a href="../pages/Reachtruckchauffeur_Allround_Magazijnmedewerker.html" target="_blank" class="favourite">Reachtruckchauffeur/ Allround Magazijnmedewerker</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Zeist | Fulltime | 38 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/XPO-Logistics.png" alt="">
								                    </div>
								                </figure>
												<p><span>XPO Logistics is met de overname van Norbert Dentressangle uitgegroeid tot een van 's werelds grootste aanbieders van logistieke en vervoersdiensten. XPO staat bekend om de volgende kernactiviteiten:
												De grootste aanbieder van aansluitingsvervoer voor zware goederen;Beheerder van het grootste aantal snelle zendingen;De op één na grootste scheepsmakelaar;</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Reachtruckchauffeur_Allround_Magazijnmedewerker.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="4">
											<div class="heading">
												<h4><a href="../pages/Allround_Magazijnmedewerker.html" target="_blank">Allround Magazijnmedewerker</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Nieuwegein | Fulltime | 37.5 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/XPO-Logistics.png" alt="">
								                    </div>
								                </figure>
												<p><span>XPO Logistics is met de overname van Norbert Dentressangle uitgegroeid tot een van 's werelds grootste aanbieders van logistieke en vervoersdiensten. XPO staat bekend om de volgende kernactiviteiten:De grootste aanbieder van aansluitingsvervoer voor zware goederen;Beheerder van het grootste aantal snelle zendingen;De op één na grootste scheepsmakelaar;</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Allround_Magazijnmedewerker.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="5">
											<div class="heading">
												<h4><a href="../pages/Ervaring_opdoen_in_de_logistiek_of_al_ervaring_als_magazijnmedewerker_dan_zoeken_we_jou.html" target="_blank">Ervaring opdoen in de logistiek of al ervaring als magazijnmedewerker, dan zoeken we jou!</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Heteren | Fulltime, Parttime | 40 uur | LBO, MAVO, HAVO, VWO, MBO, HBO, Universitair, Ongeschoold</strong>
													<span class="pull-right">19 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_ruidvat.png" alt="">
								                    </div>
								                </figure>
												<p><span>Watson Health &amp; Beauty Benelux is een onderdeel van A.S. Watson Group en is ’s werelds grootste retailer in Health &amp; Beauty. Het hypermoderne distributiecentrum van A.S. Watson in Heteren zorgt voor de dagelijkse bevoorrading van de winkels van Kruidvat, Trekpleister, Prijsmepper en ICI Paris XL. Onder de beste arbeidsomstandigheden zijn er in het logistieke centrum dagelijks ruim 500 medewerkers actief. Samen met jouw team zorg jij voor een juiste belevering aan alle vestigingen in Nederland.A.S. Watson Benelux is winnaar van de HR Proffie 2014: dè prijs voor het beste en meest professionele HR-beleid van Nederland.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Ervaring_opdoen_in_de_logistiek_of_al_ervaring_als_magazijnmedewerker_dan_zoeken_we_jou.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="6" style="margin-top:0px;">
											<div class="heading">
												<h4><a href="../pages/Sporten_en_werken_tegelijkertijd_en_in_het_bezit_van_een_auto_lees_dan_verder.html" target="_blank">Sporten en werken tegelijkertijd en in het bezit van een auto, lees dan verder</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Heteren | Fulltime, Parttime | 40 uur | LBO, MAVO, HAVO, VWO, MBO, HBO, Universitair, Ongeschoold</strong>
													<span class="pull-right">11 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_ruidvat.png" alt="">
								                    </div>
								                </figure>
												<p><span>Watson Health &amp; Beauty Benelux is een onderdeel van A.S. Watson Group en is ’s werelds grootste retailer in Health &amp; Beauty. Het hypermoderne distributiecentrum van A.S. Watson in Heteren zorgt voor de dagelijkse bevoorrading van de winkels van Kruidvat, Trekpleister, Prijsmepper en ICI Paris XL. Onder de beste arbeidsomstandigheden zijn er in het logistieke centrum dagelijks ruim 500 medewerkers actief. Samen met jouw team zorg jij voor een juiste belevering aan alle vestigingen in Nederland.A.S. Watson Benelux is winnaar van de HR Proffie 2014: dè prijs voor het beste en meest professionele HR-beleid van Nederland.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Sporten_en_werken_tegelijkertijd_en_in_het_bezit_van_een_auto_lees_dan_verder.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="7">
											<div class="heading">
												<h4><a href="../pages/Allround_Magazijnmedewerker1.html" target="_blank">Allround Magazijnmedewerker</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Heteren | Fulltime, Parttime | 35 uur | LBO, MAVO, HAVO, VWO, MBO, HBO, Universitair, Ongeschoold</strong>
													<span class="pull-right">11 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_ruidvat.png" alt="">
								                    </div>
								                </figure>
												<p><span>Watson Health &amp; Beauty Benelux is een onderdeel van A.S. Watson Group en is ’s werelds grootste retailer in Health &amp; Beauty. Het hypermoderne distributiecentrum van A.S. Watson in Heteren zorgt voor de dagelijkse bevoorrading van de winkels van Kruidvat, Trekpleister, Prijsmepper en ICI Paris XL. Onder de beste arbeidsomstandigheden zijn er in het logistieke centrum dagelijks ruim 500 medewerkers actief. Samen met jouw team zorg jij voor een juiste belevering aan alle vestigingen in Nederland.A.S. Watson Benelux is winnaar van de HR Proffie 2014: dè prijs voor het beste en meest professionele HR-beleid van Nederland.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Allround_Magazijnmedewerker1.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="8">
											<div class="heading">
												<h4><a href="../pages/Flexibele_vrachtwagenchauffeur_C_E.html" target="_blank">Flexibele vrachtwagenchauffeur C/E</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Utrecht | Fulltime | 40 uur | LBO werk-en denkniveau</strong>
													<span class="pull-right">8 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<p><span>Voor verschillende relaties van ons zijn wij op zoek naar ZZP chauffeurs C/E. Deze chauffeurs worden flexibel bij verschillende klanten ingezet. Wij streven erna de chauffeurs zoveel mogelijk uren te geven zolang dit niet in strijd komt met de rij- en rusttijden wet. Ben jij een Zelfstandige Zonder Personeel (ZZP)? Zit jij graag op de weg? Wil jij elke dag afwisseling? Vind jij het niet erg om flexibel ingezet te worden? Dan zoeken wij jou!!! Voor verschillende klanten zijn wij op zoek naar chauffeur met C of C/E rijbewijs. Als flexibele chauffeur word je ingezet bij klanten die distributie rijden maar ook bij klanten die huisvuil ophalen.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Flexibele_vrachtwagenchauffeur_C_E.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="9">
											<div class="heading">
												<h4><a href="../pages/Klantadviseur.html" target="_blank">Klantadviseur</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Utrecht | Fulltime | 40 uur | HBO werk- en denkniveau</strong>
													<span class="pull-right">1 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Logo_webhelp.png" alt="">
								                    </div>
								                </figure>
												<p><span>Voor het klantencontact center van een grote Nederlandse bank, zijn wij op zoek naar klantadviseurs. Ben jij geïnteresseerd in de financiële wereld en heb je affiniteit met allerlei bankproducten? Ben je daarnaast commercieel ingesteld en sta je graag klanten te woord? Dan is deze vacature voor jou interessant!Als klantadviseur ben jij hét visitekaartje van de bank: het eerste aanspreekpunt voor klanten. Je beantwoordt telefonisch vragen van klanten en dat doe je uiteraard met veel enthousiasme en kundigheid. Je handelt de servicevragen efficiënt en vlot af en je adviseert daarnaast over de producten van onze opdrachtgever (denk hierbij aan betalen, sparen, verzekeren, lenen, hypotheken, etc). Ook bepaal je samen met de klant welke producten het beste voor hem zijn. Daarbij heb je klantvriendelijkheid hoog in het vaandel staan.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Klantadviseur.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="10">
											<div class="heading">
												<h4><a href="../pages/Onderhoudsmonteur_Storingsmonteur_voor_modern_warehouse_DC_in_Utrecht.html" target="_blank">Onderhoudsmonteur/ Storingsmonteur voor modern warehouse/DC in Utrecht</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Utrecht | Fulltime | 35 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">1 september 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_hema.png" alt="">
								                    </div>
								                </figure>
												<p><span>De werklocatie is in het distributiecentrum van een bekend warenhuis. In dit warenhuis is het logistieke proces volledig geautomatiseerd met de modernste technieken. Je bent onderdeel van een team dat gezamenlijk verantwoordelijk is voor alle techniek en automatisering op de locatie.Heb jij altijd al als TD Monteur willen werken voor het nummer 1 warenhuis in Nederland in een technische functie met veel ontwikkel- en doorgroeimogelijkheden?</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Onderhoudsmonteur_Storingsmonteur_voor_modern_warehouse_DC_in_Utrecht.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="11" style="margin-top:0px;">
											<div class="heading">
												<h4><a href="../pages/Vrachtwagenchauffeur_met_Conventionele_combi_(Triangel)_ervaring.html" target="_blank">Vrachtwagenchauffeur met Conventionele combi (Triangel) ervaring</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Utrecht | Fulltime | 36 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">29 august 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_hema.png" alt="">
								                    </div>
								                </figure>
												<p><span>De HEMA is een Nederlands warenhuis met vestigingen in Nederland, België, Luxemburg, Duitsland, Frankrijk, Spanje en sinds juni 2014 Engeland. Hier in Utrecht bevindt zich het logistieke hart van deze enorme organisatie, het distributiecentrum. Dit DC geldt als een van de modernste distributiesystemen ter wereld, met een vrijwel volledig geautomatiseerde verwerking van alle goederen. Als vrachtwagenchauffeur is het natuurlijk jouw taak om al deze goederen te transporteren en de winkels te bevoorraden. Deze continue goederenstroom leidt ertoe dat de Hema-chauffeurs gezamenlijk ongeveer vijf miljoen vrachtwagenkilometers per jaar rijden!</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Vrachtwagenchauffeur_met_Conventionele_combi_(Triangel)_ervaring.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="12">
											<div class="heading">
												<h4><a href="../pages/Goederenontvanger_(heftruck).html" target="_blank">Goederenontvanger (heftruck)</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>De Meern | Fulltime | 40 uur | LBO werk-en denkniveau</strong>
													<span class="pull-right">28 august 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/Vacatures_bavaria.png" alt="">
								                    </div>
								                </figure>
												<p><span>Bavaria NV heeft als onafhankelijke familiebrouwerij een unieke positie op de internationale biermarkt. Al zeven generaties lang wordt het bedrijf geleid door de familie Swinkels. Naast de brouwerij in Lieshout beschikt Bavaria over een eigen trappistenbrouwerij. Doordat de organisatie ook beschikt over twee mouterijen is het gehele brouwproces in eigen beheer. Bavaria is de enige grote brouwer in Nederland die haar bier brouwt met zuiver natuurlijk mineraalwater uit eigen bronnen. Dit kenmerkt de belangrijkste filosofie van Bavaria: een constante hoge kwaliteit van haar bieren. Van de zes miljoen hectoliter bier die de in Brabant gewortelde organisatie jaarlijks produceert, is bijna 70% bestemd voor de buitenlandse markt. Inmiddels genieten consumenten in meer dan 100 landen van Bavaria bier.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Goederenontvanger_(heftruck).html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="13">
											<div class="heading">
												<h4><a href="../pages/Electromonteur.html" target="_blank">Electromonteur</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>De Meern | Fulltime | 40 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">27 august 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<p><span>Deze klant houd zich bezig met verschillende werkzaamheden. Mechanische ventilatie, data en telecommunicatie, beveiligingsinstallaties, en renovaties van elektra van jaren 70 panden. Voor een van onze relaties zijn wij op zoek naar elctromonteur. De voornaamste werkzaamheden zullen zijn in de renovatiebouw zoals: Oude elektra verwijderen en nieuwe aanleggen. het aanleggen van een buizensysteem/ ventilatie systeem en hier ook de elektra voor doen. het maken van verschillende aansluitingen op verschillende plekken.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Electromonteur.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
										<li class="well well-olympia hidden" id="14">
											<div class="heading">
												<h4><a href="../pages/Teamleider_logistiek.html" target="_blank">Teamleider logistiek</a><span class="olympia olympia-star favouriteAdd" ></span></h4>
												<div>
													<strong>Wijchen | Fulltime | 40 uur | MBO werk- en denkniveau</strong>
													<span class="pull-right">27 august 2015</span>
												</div>
											</div>
											<div class="jobBody">
												<figure>
								                    <div class="job-details-logo">
							                            <img src="../img/nabuurs-102-80.jpg" alt="">
								                    </div>
								                </figure>
												<p><span>Een modern, toonaangevend familiebedrijf in logistieke dienstverlening, met vestigingen in Nederland, België, Duitsland &amp; Polen. De meeste van onze opdrachtgevers zitten in de Fast Moving Consumer Goods, en dan met name levensmiddelen. Voor een logistiek bedrijf in Wijchen zijn we op zoek naar een Teamleider Logistiek. Je bent werkzaam in 2-ploegen en stuurt een team aan van ca. 10 - 20 personen.</span><span class="ellipsis">...</span></p>
												<span><a href="../pages/Teamleider_logistiek.html" target="_blank">bekijk vacature</a> - <a href="">solliciteer</a> - <a class="favouriteAdd" href="javascript:void(0)">bewaar als favoriet</a></span>
											</div>
										</li>
									</ul>
								</div>
								<div class="paging">
									<ul class="pagination">
									  
									</ul>
								</div>
							</div>
							<div class="right-tab-data hidden">
								<ul></ul>
								<span class="text-center noData">Je hebt op dit moment geen vacatures als favoriet gemarkeerd</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/jquery.simplePagination.js"></script>
	<script type="text/javascript">

		//to scroll to a point on the screen where user clicked
		$.fn.scrollView = function (offsetValue) {
		    return this.each(function () {
		        $('html, body').animate({
		            scrollTop: $(this).offset().top - offsetValue
		        }, 1000);
		    });
		}

		function getParameterByName(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	            results = regex.exec(location.search);
	        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	    }

		//add to favourite
		$('.left-tab-data .favouriteAdd').on('click', function() {
			var $this = $(this);
			console.log($(this).hasClass('favourite'));
			if(!$(this).hasClass('favourite') && !$this.closest('li.well').find('.jobBody .favouriteAdd').hasClass('favourite')){
				var clonedValue = $this.closest('li.well').clone();
				$('.right-tab-data ul').append(clonedValue);
				$this.closest('li.well').find('.jobBody .favouriteAdd').addClass('favourite');
				$this.closest('li.well').find('.olympia').addClass('favourite');
				$('.right-tab-data ul li').find('.olympia').addClass('favourite').removeClass('favouriteAdd').attr('onclick', 'favouriteDelete(this)');
				$('.right-tab-data ul li').find('.favouriteAdd').removeClass('favouriteAdd').attr('onclick', 'favouriteDelete(this)');
				checkLengthRightTab();
			}
		});

		function favouriteDelete(obj){
			var $this = $(obj);
			var clickedWellID = $this.closest('li.well').attr('id');
			$this.closest('li.well').remove();
			$('.left-tab-data').find('#'+clickedWellID).find('.olympia').removeClass('favourite');
			$('.left-tab-data').find('#'+clickedWellID).find('.jobBody .favouriteAdd').removeClass('favourite');
			checkLengthRightTab();
		}

		function checkLengthRightTab(){
			if($('.right-tab-data ul li').length == 0){
				$('.right-tab-data .noData').removeClass('hidden');
			}else{
				$('.right-tab-data .noData').addClass('hidden');
			}
		}

		var viewed = getParameterByName('viewed');
		$('.side-menu li:first-child a').click(function(){
			var emptyList = [];
			$('.right-tab-data > ul > li').each(function( index ) {
				emptyList.push($(this).attr('id'));
			});
			$('.side-menu li:first-child a').attr('href', $('.side-menu li:first-child a').attr('href') + '?clickedId=' + emptyList + '&viewed=' + viewed)
		})

		//pagination
		var itemsOnPage = 5;
		var items = 15;
		$(function() {
		    $('.pagination').pagination({
		        items: items,
		        itemsOnPage: itemsOnPage,
		        hrefTextPrefix: '#',
		        prevText: '< vorige',
		        nextText: 'volgende >',
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		            var valueHash = $('.pagination').pagination('getCurrentPage');
		            var itemsPage = itemsOnPage * valueHash;
		            var initializaedPage = itemsPage - itemsOnPage;
		            for (var i = 1; i <= items ; i++) {
		                if(i > initializaedPage && i <= itemsPage){
		                    $('.left-tab-data .actualData ul > li:nth-child('+i+')').removeClass('hidden');    
		                }else{
		                    $('.left-tab-data .actualData ul > li:nth-child('+i+')').addClass('hidden');    
		                }
		            };
		        }
		    });
	    
		});

		setTimeout(function(){
		  var valueHash = $('.pagination').pagination('getCurrentPage');
		    var itemsPage = itemsOnPage * valueHash;
		    var initializaedPage = itemsPage - itemsOnPage;
		    for (var i = 1; i <= items ; i++) {
		        if(i > initializaedPage && i <= itemsPage){
		            $('.left-tab-data .actualData ul > li:nth-child('+i+')').removeClass('hidden');
		        }else{
		            $('.left-tab-data .actualData ul > li:nth-child('+i+')').addClass('hidden');    
		        }
		    };

		    var clickedId = getParameterByName('clickedId');
	    	$('#'+clickedId).scrollView(10);
	    	var starredItems = getParameterByName('starredItems');
	    	
	    	starredItems.split(',').forEach(function(item) {
	    		$('#'+item)
	    		var $this = $('#'+item);
				var clonedValue = $this.closest('li.well').clone();
				$('.right-tab-data ul').append(clonedValue);
				$this.closest('li.well').find('.olympia').addClass('favourite');
				$('.right-tab-data ul li').find('.olympia').addClass('favourite').removeClass('favouriteAdd').attr('onclick', 'favouriteDelete(this)');
				$('.right-tab-data ul li').find('.favouriteAdd').removeClass('favouriteAdd').attr('onclick', 'favouriteDelete(this)');
				checkLengthRightTab();
	    	})
		}, 400);
		
		//localStorage.clear();
		// var data = localStorage.getItem('visitedPage1');
		// console.log(localStorage);
	 //    if(data === 'true') {
	 //    	$('.actualData li h4 a').removeClass('favourite');
	 //    }
	    $('.actualData li').click(function(){
	    	console.log($(this).attr('id'));
	    	$(this).find('h4 a').removeClass('favourite');
	    })

		

	</script>
</body>
</html>