<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Mijn Olympia - Mijn ervaring en CV</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class="col-sm-8 well well-sm pull-right login" style="background: #fff; margin-top: 20px; margin-bottom: 0px; padding: 5px;">
					<div class="row low-gutter row-low-gutter-main">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" style="margin-bottom: 8px">
										<input class="form-control input-sm input-extra-sm height" type="text">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group" style="margin-bottom: 8px">
										<input class="form-control input-sm input-extra-sm height" type="password">
									</div>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-info btn-sm btn-block pull-right input-extra-sm padding" data-toggle="modal" data-target="#myModal">Login</button>
								</div>

							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="checkbox" style="margin-top: 0; margin-bottom: 0;">
										<label>
											<input type="checkbox"> <a class="link-in-text" href="#">Onthoud mijn innologgegeven</a>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<a href="#" class="link-in-text" data-toggle="modal" data-target="#forgot-pass">Wachtwoord vergeten</a>
								</div>
							</div>
							
						</div>
						<div class="col-sm-3 border-left">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p style="font-size: 11px;">Of log in met</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center icons-img">
									<a href="#" title="Deel via Facebook" class="facebook"></a>
									<a href="#" title="Deel via Linked in" class="linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek werk</a>
						<ul>
							<li>
								<a href="/Vacatures" class="title">Alle vacatures</a>
							</li>
							<li>
								<a href="/vacaturesperbranche" class="title">Vacatures per branche</a>
							</li>
							<li>
								<a href="/werkgevers" class="title">Vacatures bij topbedrijven</a>
							</li>
							<li>
								<a href="/Registration/RegisterIntro" class="title">Direct inschrijven bij Olympia</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek personeel</a>
						<ul>
							<li>
								<a href="/voorendoorondernemers" class="title">Voor en door ondernemers</a>
							</li>
							<li>
								<a href="http://www.olympia.nl/toptalent" target="_blank" class="title">ONZE VISIE OP TOPTALENT</a>
							</li>
							<li>
								<div class="title">Onze diensten</div>
								<ul>
									<li>
										<a href="/onzediensten/uitzenden" class="title">Uitzenden</a>
									</li>
									<li>
										<a href="/payrollservice" class="title">Payroll service</a>
									</li>
									<li>
										<a href="/wervingenselectie" class="title">Werving en selectie</a>
									</li>
									<li>
										<a href="/mastervendorservice" class="title">Master vendor service</a>
									</li>
									<li>
										<a href="/inhouseservice" class="title">Inhouse Service</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/vacatureplaatsen" class="title">Vacature aanmelden</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau?radius=25" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Over Olympia</a>
						<ul>
							<li>
								<a href="/welovetoworkforyou" class="title">We love to work for you</a>
							</li>
							<li>
								<a href="http://www.ondernemenbijolympia.nl" target="_blank" class="title">Ondernemer worden?</a>
							</li>
							<li>
								<a href="/contact" class="title">Contact</a>
							</li>
						</ul>
					</li>
					<li class="current">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-persoonlijke-gegevens.html">Mijn persoonlijke gegevens</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li><a href="MijnOlympia-ervaring-cv.html">Mijn ervaring &amp; CV</a></li>
									<li class="active"><a href="javascript:void(0)">Mijn voorkeuren &amp; alerts</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>21</span>)</a></li>
									<li><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li><a href="MijnOlympia-administratie.html">Mijn administratie</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="progress-container">
								<label>Compleetheid profiel <span>60%</span></label> 
								<div class="progress" style="margin-bottom: 0px;">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
							<div class="profile-data">
								<label class="title">Aanbevolen voor jou:</label>
								<ul>
									<li>Update je CV<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="javascript:void(0)"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container alert-box">
				<div class="well well-olympia">
					<h1>Mijn voorkeuren &amp; e-mail alerts</h1>
					<div class="box-inner">
						<p>Door middel van het invoeren van jouw voorkeuren kunnen wij vacatures vinden die het beste bij jou passen. Ook kun je door het instellen van een job alerts automatisch op de hoogte blijven van passende vacatures die bij ons binnen komen.</p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="label-container">
						<label class="title">Ben je momenteel op zoek naar werk?</label><span class="pull-right bewerk"><a href="javascript:void(0)">Bewerken</a><i class="olympia-icon olympia-edit"></i></span>
					</div>
					<div class="box-inner">
						<p><strong>Ja,</strong> ik ben momenteel op zoek naar werk. Ik ben beschikbaar <strong>vanaf 01-06-2015 tot en met 03-08-2015</strong> heb <strong>geen opzegtermijn</strong></p>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="label-container">
						<label class="title">Waar ben je naar op zoek?</label><span class="pull-right bewerk"><a href="javascript:void(0)">Bewerken</a><i class="olympia-icon olympia-edit"></i></span>
					</div>
					<div class="box-inner details">
						<ul>
							<li>
								<strong>Naar welke functies/ trefwoorden ben je op zoek?</strong>
								<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
							</li>
							<li>
								<strong>Wat is je maximale reisafstand?</strong>
								<span>Rotterdam (10 km), Den Haag (5 km)</span>
							</li>
							<li>
								<strong>Naar welk dienstverband ben je op zoek?</strong>
								<span>Tijdelijk met uitzicht op vast, Vast</span>
							</li>
							<li>
								<strong>Hoeveel uren per week ben je beschikbaar?</strong>
								<span>32-40</span>
							</li>
							<li>
								<strong>Welke branche heeft jouw voorkeur?</strong>
								<span>Productie/ Industrie</span>
							</li>
							<li>
								<strong>Wat is jouw vakgebied?</strong>
								<span>Logistiek</span>
							</li>
							<li>
								<strong>Wat voor salaris wil je?</strong>
								<span>1600-2000</span>
							</li>
							<li>
								<strong>Wat is je werk- en denkniveau?</strong>
								<span>MBO</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="well well-olympia">
					<div class="label-container">
						<label class="title">Job alerts</label>
					</div>
					<div class="box-inner accordion">
						<ul class="accordion-data">
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="form-group" id="fromTO">
										<label class="radio-inline">
											<input type="radio" name="fromTO0" value="option1" checked=""> Aan
										</label>
										<label class="radio-inline">
											<input type="radio" name="fromTO0" value="option2"> Uit
										</label>
									</div>
									<div class="job-title">
										<strong >(Automatisch) op basis van je voorkeuren</strong >
									</div>
									<span class="olympia-caret-down pull-right"></span>
								</div>
								<div class="job-body">
									<ul>
										<li>
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li>
											<strong>Uren per week:</strong>
											<span>32-40</span>
										</li>
										<li>
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li>
											<strong>Branche:</strong>
											<span>Productie/ Industrie</span>
										</li>
										<li>
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>
										<li>
											<strong>Salaris:</strong>
											<span>1600-2000</span>
										</li>
										<li>
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li>
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
									</ul>
									<span class="bewerk"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">Job alert instellingen wijzigen</a></span>
								</div>
							</li>
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="form-group" id="fromTO">
										<label class="radio-inline">
											<input type="radio" name="fromTO1" value="option1" checked=""> Aan
										</label>
										<label class="radio-inline">
											<input type="radio" name="fromTO1" value="option2"> Uit
										</label>
									</div>
									<div class="job-title">
										<strong >Logistiek medewerker in Den Haag</strong >
									</div>
									<span class="olympia-caret-down pull-right"></span>
								</div>
								<div class="job-body">
									<ul>
										<li>
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li>
											<strong>Uren per week:</strong>
											<span>32-40</span>
										</li>
										<li>
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li>
											<strong>Branche:</strong>
											<span>Productie/ Industrie</span>
										</li>
										<li>
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>
										<li>
											<strong>Salaris:</strong>
											<span>1600-2000</span>
										</li>
										<li>
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li>
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
									</ul>
									<span class="bewerk"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">Job alert instellingen wijzigen</a></span>
								</div>
							</li>
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="form-group" id="fromTO">
										<label class="radio-inline">
											<input type="radio" name="fromTO2" value="option1"> Aan
										</label>
										<label class="radio-inline">
											<input type="radio" name="fromTO2" value="option2"  checked=""> Uit
										</label>
									</div>
									<div class="job-title">
										<strong >Magazijnmedewerker in Gouda</strong >
									</div>
									<span class="olympia-caret-down pull-right"></span>
								</div>
								<div class="job-body">
									<ul>
										<li>
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li>
											<strong>Uren per week:</strong>
											<span>32-40</span>
										</li>
										<li>
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li>
											<strong>Branche:</strong>
											<span>Productie/ Industrie</span>
										</li>
										<li>
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>
										<li>
											<strong>Salaris:</strong>
											<span>1600-2000</span>
										</li>
										<li>
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li>
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
									</ul>
									<span class="bewerk"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">Job alert instellingen wijzigen</a></span>
								</div>
							</li>
							<li>
								<div class="header" onclick="toggleView(this)">
									<div class="form-group" id="fromTO">
										<label class="radio-inline">
											<input type="radio" name="fromTO3" value="option1"> Aan
										</label>
										<label class="radio-inline">
											<input type="radio" name="fromTO3" value="option2"  checked=""> Uit
										</label>
									</div>
									<div class="job-title">
										<strong >Reachtruckchauffeur in Breda</strong>
									</div>
									<span class="olympia-caret-down pull-right"></span>
								</div>
								<div class="job-body">
									<ul>
										<li>
											<strong>Dienstverband:</strong>
											<span>Tijdelijk met uitzicht op vast, Vast</span>
										</li>
										<li>
											<strong>Uren per week:</strong>
											<span>32-40</span>
										</li>
										<li>
											<strong>Locatie en afstand:</strong>
											<span>Rotterdam (10 km), Den Haag (5 km)</span>
										</li>
										<li>
											<strong>Branche:</strong>
											<span>Productie/ Industrie</span>
										</li>
										<li>
											<strong>Vakgebied:</strong>
											<span>Logistiek</span>
										</li>
										<li>
											<strong>Salaris:</strong>
											<span>1600-2000</span>
										</li>
										<li>
											<strong>Werk-en denkniveau:</strong>
											<span>MBO</span>
										</li>
										<li>
											<strong>Functies / trefwoorden:</strong>
											<span>Heftruckchauffeur, Logistiek, Transport, Orderpicker</span>
										</li>
									</ul>
									<span class="bewerk"><i class="olympia-icon olympia-edit"></i><a href="javascript:void(0)">Job alert instellingen wijzigen</a></span>
								</div>
							</li>
							<li>
							</li>
						</ul>
						
					</div>
					<div class="accordion-button">
						<a href="javascript:void(0)">voeg een nieuwe job alert toe</a><br>
						<button class="btn btn-primary">Wijzigingen opslaan</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>