<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>CV tips</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/custom.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
	<link rel="stylesheet" href="../lib/jqueryTypeahead/jquery.typeahead.css"/>
	<link rel="stylesheet" href="../lib/slick-1.5.9/slick/slick.css"/>
</head>
<body>
	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-8">
				<div class=" pull-right login" style="background: #fff;">
					<div class="meta">
					    <div class="logged">
					        <div class="username"><span>Welkom <strong>Henk Van Dunzelkamp</strong></span></div>
					        <div class="profile">
					            <a href="javascript:void(0)"> › uitloggen</a>
					        </div>
					    </div>
					    <div class="logged bell" >
					    	<span class="olympia-icon olympia-bell-o"></span>
					    	<span class="number">3</span>
					    	<div class="notificationBalloon hidden">
					    		<ul>
					    			<li>
					    				<a href="MijnOlympia-suggesties.html">3 nieuwe vacature suggesties</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Magazijnmedewerker(m/v)</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Fulltime orderpicker</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-suggesties.html">3 nieuwe vacature suggesties</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-sollicitaties.html">Statusverandering sollicitatie - Magazijnmedewerker(m/v)</a>
					    				<span class="olympia olympia-times"></span>
					    			</li>
					    			<li>
					    				<a href="MijnOlympia-notificaties.html">Bekijk alle notificaties</a>
					    			</li>
					    		</ul>
					    	</div>
					    </div>
					    <div class="user">
					        <img src="../img/pasfoto.jpg"/>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="notificationSaveMessage hidden">
		<div class="box">
			<p>Je wijzigingen zijn opgeslagen!</p><span class="olympia olympia-check-circle"></span>
		</div>
	</div>
	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li>
						<span><a href="https://olympia.nl" target="_blank" class="olympia olympia-home" title="Ga terug naar Olympia.nl"></a></span>
					</li>
					<li class="current right">
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">
		<div class="alert alert-info fade in email-subs-wrapper" role="alert">
            <div class="row">
                <div class="col-sm-5">
                    <span class="olympia-mail4"></span>
                    <div class="left">
                        <h4>E-mail mij nieuwe vacatures voor:</h4>
                        <p class="nederlang-text">
                            'Nederland' en 'Heftruckchauffeurs' <a href="#">Geavanceerd</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form role="form">
                        <div class="form-group">
                            <label>E-mailadres</label>
                            <input type="email" class="form-control" placeholder="E-mailadres">
                            <button type="submit" class="btn btn-primary medium-text">Zoekopdracht bewaren</button>
                        </div>
                        
                        <p class="email-subs-text">Als je verder gaat, ga je akkoord met het gebruik van  cookie door Olympia en ga je akkoord met de 
                            <a href="#">Gebruiksvoorwaarden</a> en 
                            <a href="#">Privacyverklaring</a> van Olympia.
                        </p>
                    </form>                   
                </div>
                <div class="col-sm-1">
                    <button type="button" class="close" id="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
			</div>
			<div class="row hidden">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-1">
							<i class="olympia-mail4" style="font-size: 40px;"></i>
						</div>
						<div class="col-sm-11">
							<h4>E-mail mij nieuwe vacatures voor:</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6">sdfsad</div>
			</div>
		</div>
		<!--main container starts -->
		<div class="row margin-top-30">
			<div class="col-lg-3 left-container">
				<div class="well well-olympia">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="dashboard-image">
								<img src="../img/pasfoto.jpg"/>
								<div class="overlay-container">
									<label class="text1 hidden">Bewerk je profielfoto </label>
									<label class="text2 hidden">Maak je profiel compleet </label>
									<div class="progress" style="margin-bottom: 0px;">
										<div class="progress-bar progress-bar-success text-right" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											<span class="percentage">60%</span>
											<span class="sr-only"></span>
										</div>
									</div>
									<span class="olympia olympia-camera"></span>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="side-menu">
								<ul>
									<li><a href="MijnOlympia-dashboard.html">Mijn dashboard</a></li>
									<li><a href="MijnOlympia-account.html">Mijn account</a></li>
									<li><a href="MijnOlympia-video-cv.html">Mijn video CV</a></li>
									<li class="mijnCV">
										<a href="MijnOlympia-cv-ervaring.html" class="activeX">Mijn CV &amp; ervaring</a>
										<div class="submenuCV in">
											<ul>
												<li><a href="#">CV tips</a></li>
											</ul>
										</div>
									</li>
									<li><a href="MijnOlympia-voorkeuren.html">Mijn voorkeuren</a></li>
									<li><a href="MijnOlympia-email-alerts.html">Mijn email alerts (<span>4</span>)</a></li>
									<li><a href="MijnOlympia-sollicitaties.html">Mijn sollicitaties (<span>3</span>)</a></li>
									<li><a href="MijnOlympia-suggesties.html">Mijn suggesties (<spam>14</span>)</a></li>
									<li class="hidden"><a href="MijnOlympia-competenties.html">Mijn competenties</a></li>
									<li><a href="https://www.e-flexer.nl/olympia/index.ewb" target="_blank">Mijn administratie</a></li>
								</ul>
							</div>
							
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="profile-data">
								<label class="title">Maak je profiel compleet</label>
								<ul>
									<li>Update je CV<a href="MijnOlympia-cv-ervaring.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Maak een video CV<a href="MijnOlympia-video-cv.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Stel een e-mail alert in<a href="MijnOlympia-email-alerts.html"><span class="olympia-icon olympia-plus"></span></a></li>
									<li>Waar ben je naar op zoek?<a href="MijnOlympia-voorkeuren.html"><span class="olympia-icon olympia-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="col-lg-9 right-container cv topLink">
				<div class="navbar-secondary translate-up" id="secondary-navigation">
			        <ul class="navigation">
			          <li><a href="#" name="document">Terug naar boven</a></li>
			        </ul>
			    </div>
				<div class="well well-olympia">
					<h1>CV tips</h1>
					<div class="box-inner">
						<p>Op deze pagina vind je handige tips over hoe je een CV kunt opstellen of je bestaande CV kunt verbeteren. Waar moet je op letten? Wat zet je wel en niet in je CV? Allemaal vragen die wij graag voor jou beantwoorden. </p>
						<p>Omdat veel verschillende banen vaak om verschillende CV's vragen, heeft Olympia per functie de belangrijkste tip's en trucks voor jou op een rijtje gezet. Bekijk de standaard CV tips of zoek hieronder dus naar tips voor specifieke functies.</p>
					</div>
				</div>
				<div class="well well-olympia orange-well">
					<div class="box-inner">
						<div class="row">
							<div class="col-sm-9 input-box">
								<label>Functie / trefwoord</label>
								<form id="form-country_v1" name="form-country_v1" action="">
								    <div class="typeahead-container cv-tips">
								        <div class="typeahead-field">
								            <span class="typeahead-query">
								                <input id="trefwoord_v1-query" name="country_v1[query]" class="form-control" type="search" placeholder="Functie / trefwoord" autocomplete="off">
								            </span>
								            <!-- <span class="typeahead-button">
								                <button type="submit">
								                    <i class="typeahead-search-icon"></i>
								                </button>
								            </span> -->
								        </div>
								    </div>
								</form>
							</div>
							<div class="col-sm-3">
								<label>&nbsp;</label>
								<button type="submit" class="btn btn-primary"><i class="olympia-search"></i>Bekijk CV tips</button>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-olympia tips">
					<h1 class="black"><span></span>CV tips</h1>
					<div class="box-inner accordion">
						<div class="form-group tipsC">
							<div class="tips-heading">
								<span><a href="javascript:void(0)" data-title="lengte">Lengte</a></span><span> - </span><span><a href="javascript:void(0)" data-title="tailor">Tailor it</a></span><span> - </span><span><a href="javascript:void(0)" data-title="persoonlijke">Persoonlijke noot</a></span><span> - </span><span><a href="javascript:void(0)" data-title="vermijd">Vermijd gaten</a></span><span> - </span><span><a href="javascript:void(0)" data-title="upToDate">Up-to-date</a></span><span> - </span><span><a href="javascript:void(0)" data-title="spelling">Spelling</a></span><span> - </span><span><a href="javascript:void(0)" data-title="waarheid">Waarheid</a></span><span> - </span><span><a href="javascript:void(0)" data-title="getallen">Getallen</a></span><span> - </span><span><a href="javascript:void(0)" data-title="layout">Layout</a></span>
							</div>
							<hr>
							<div class="tips-description">
								<div id="lengte">
									<label>Lengte</label>
									<p>Normaal zou een CV op maximal 2 pagina’s (A4) moeten passen. Recruiters en werkgevers gebruiker gemiddeld 8 seconden om een CV te analyseren. Een zekerheid om op de NEE stapel terecht te komen is wanneer je je hele levensverhaal opstuurt.Houd het punctueel en bewaar de details voor in een gesprek.</p>
								</div>
								<br>
								<div id="tailor">
									<label>Tailor it</label>
									<p>Hetzelfde CV uitsturen naar verschillende werkgevers of uitzendbureau’s, het gebeurt veel! STOP! Neem de tijd om je CV aan te passen voor elke sollicitatie. Verdiep je in de werkgever en gebruik de vacature teksten om te kijken welke skills van belang zijn.</p>
								</div>
								<br>
								<div id="persoonlijke">
									<label>Persoonlijke noot</label>
									<p>Denk niet da teen werkgever of recruiter alleen kijkt naar jouw werkervaring tov de baan waaropje solliciteert. Zorg voor een persoonlijke not in je CV en leg uit waarom jij denkt dat je de geschikte person bent voor die baan.</p>
								</div>
								<br>
								<div id="vermijd">
									<label>Vermijd gaten</label>
									<p>Mensen kunnen heel clynisch naar je CV kijken en opvallende gaten kunnen dan meteen vragen oproepen. Hierdoor zul je vaak niet het voordeel van de twijfel krijgen. Ben je ergens ontslagen of is je contract niet verlengd? Probeer er dan een positiefe draai aan te geven.</p>
									<p>Heb je in de tyussentijd een opleiding of cursus gedaan, heb je vrijwilligerswerk gedaan of heb je aan nieuwe skills gewerkt? Zorg dat dit niet onopgemerkt blijft!</p>
								</div>
								<br>
								<div id="upToDate">
									<label>Up-to-date</label>
									<p>Zorg er altijd voor dat je CV up to date is, ookal ben je niet op zoek naar werk. Elke keer als er iets belangrijks plaatsvindt, pas dan direct je CV aan zodat je niet later iets vergeet. Op het moment van gebeuren heb je er het beste gevoel bij. Dat kan later lastig te verwoorden zijn.</p>
								</div>
								<br>
								<div id="spelling">
									<label>Spelling</label>
									<p>Recruiters en werkgevers kijken ook naar grammatica en spelfouten. Gebruik als je onzeker bent dus altijd een spellingschecker en voorkom dat je afgewezen wordt op basis van grammaticale- of typefouten. Laat je CV ook altijd eerst door iemand anders lezen voordat je het opstuurt!</p>
								</div>
								<br>
								<div id="waarheid">
									<label>Waarheid</label>
									<p>"Iedereen liegt toch wel een beetje op zijn/haar CV?" NEE! Lieg niet want dit kan je alleen maar in de problemen brengen wanneer werkgevers je achtergrond of referenties gaan checken. Het laatste wat je wil is een nieuwe baan starten en ontslagen worden omdat je gelogen hebt.</p>
									<p>Los daarvan kun je tijdens je interview vragen krijgen die je niet kunt beantwoorden terwijl je geclaimd hebt het te weten. Dat kan erg ongemakkelijk zijn.</p>
								</div>
								<br>
								<div id="getallen">
									<label>Getallen</label>
									<p>Het klinkt misschien raar, maar om je opleiding en ervaring extra body te geven kun je ze ook uitdrukken in aantallen. Als je een proces sneller hebt gemaakt bij je oude werkgever, zeg dan dat je een process in 6 maanden tijd 70% sneller hebt laten werken. Grote nummers doen het zeker goed, maar zorg wel dat ze kloppen.</p>
								</div>
								<br>
								<div id="layout">
									<label>Layout</label>
									<p>Hoe je CV eruit ziet is wel degelijk van belang. Besteed daarom ook tijd aan het uiterlijk van je CV. Gebruik bullet points en korte zinnen. Zorg ook dat je voldoende witruimte laat tussen categorien en tekst om de lay-out prettig leesbaar te maken.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="recommendations">
					<div class="recommendation">
					    <div class="list">
					    	<div class="headline" title="Heftruckchauffeur">
					    		Heftruckchauffeur
					    	</div>
					    	<div class="description">
					    		Bekijk Heftruckchauffeur CV tips.
					    	</div>
					    </div>
					    <div class="list">
					    	<div class="headline" title="Magazijnmedewerker">
					    		Magazijnmedewerker
					    	</div>
					    	<div class="description">
					    		Bekijk Magazijnmedewerker CV tips.
					    	</div>
					    </div>
					    <div class="list">
					    	<div class="headline" title="Lader / losser">
					    		Lader / losser
					    	</div>
					    	<div class="description">
					    		Bekijk Lader / losser CV tips.
					    	</div>
					    </div>
					    <div class="list">
					    	<div class="headline" title="Online marketeer (trefwoord)">
					    		Online marketeer<span>...</span>
					    	</div>
					    	<div class="description">
					    		Bekijk Online marketeer (trefwoord) CV tips.
					    	</div>
					    </div>
					    <div class="list">
					    	<div class="headline" title="Chauffeur">
					    		Chauffeur
					    	</div>
					    	<div class="description">
					    		Bekijk Chauffeur CV tips.
					    	</div>
					    </div>
					    <div class="list">
					    	<div class="headline" title="Productie Industrie Vacatures">
					    		Productie Industrie<span>...</span>
					    	</div>
					    	<div class="description">
					    		Bekijk Productie Industrie Vacatures CV tips.
					    	</div>
					    </div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../lib/jqueryTypeahead/jquery.typeahead.js"></script>
	<script src="../lib/slick-1.5.9/slick/slick.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript">
		function getParameterByName(name) {
	        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	            results = regex.exec(location.search);
	        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	    }
	    $('#trefwoord_v1-query').typeahead({
    	order: "desc",
    	source: {
        	data: [
	            "Heftruckchauffeur", "Magazijnmedewerker", "Lader / losser", "Verhuizer (trefwoord)", "Online marketeer (trefwoord)", "Chauffeur", "Voorraadbeheerder", "Logistiek", "Transport", "Orderpicker", "Techniek", "Productie Industrie Vacatures"
	       	 ]
	    },
	    callback: {
	        onInit: function (node) {
	            console.log('Typeahead Initiated on ' + node.selector);
	        	}
	    	}
		});

		$(document).ready(function(){
			$('.recommendations .recommendation .list').on('click', function(){
				var recommendation = $(this).find('.headline').attr('title');
				$( "#trefwoord_v1-query" ).val(recommendation);	
				$(".tips h1.black span").html(recommendation + " ");
				$(".tips").scrollView(120);
			});
			$('.orange-well .btn-primary').on('click', function(){
				var recommendation = $( "#trefwoord_v1-query" ).val();
				$(".tips h1.black span").html(recommendation + " ");
			});
			$('.recommendation').slick({
				slidesToShow: 3,
				arrows: true,
				slidesToScroll: 1,
				dots: false,
				centerMode: false,
				focusOnSelect: false
			});
			$('.tips-heading span a').on('click', function(){
				var getTheID = $(this).data('title');
				$("#"+getTheID).scrollView(20);
			})
	    });
	</script>
</body>/
</html>